<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qitayuyin01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{7,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qitayuyin02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{7,0},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qitayuyin03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,26}</string>
                <key>spriteSourceSize</key>
                <string>{18,26}</string>
                <key>textureRect</key>
                <string>{{0,20},{18,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qitayuyin.png</string>
            <key>size</key>
            <string>{20,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d16b03e7aabb59447a0db00df1cf6c5f:f0c0c80e199c4920e6e27358e9f24d00:27a2665ab472e36348db7ef4139de9c5$</string>
            <key>textureFileName</key>
            <string>qitayuyin.png</string>
        </dict>
    </dict>
</plist>
