<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuyindaxiao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyindaxiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{87,0},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyindaxiao03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{174,0},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyindaxiao04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{261,0},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuyindaxiao05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,127}</string>
                <key>spriteSourceSize</key>
                <string>{87,127}</string>
                <key>textureRect</key>
                <string>{{348,0},{87,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuyindaxiao.png</string>
            <key>size</key>
            <string>{435,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47276bac5a185f924977b9f5f68176a3:5cad4243902b29e12d4f1912e58d1dd8:3aa1ab3274e91535bdb40f53b7e7d540$</string>
            <key>textureFileName</key>
            <string>yuyindaxiao.png</string>
        </dict>
    </dict>
</plist>
