<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seawater01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,0},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,200},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,400},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,600},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,800},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{0,1000},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seawater12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{350,1000},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seawater.png</string>
            <key>size</key>
            <string>{700,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d12212c5d726263bb663d7cad0b48b1:5afbe2eac43500316a68bf3ec57ed7e4:24577ecd348550e0c4de0adc500e2b27$</string>
            <key>textureFileName</key>
            <string>seawater.png</string>
        </dict>
    </dict>
</plist>
