<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuchaolaile01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuchaolaile02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuchaolaile03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuchaolaile04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuchaolaile05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuchaolaile06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuchaolaile_1.png</string>
            <key>size</key>
            <string>{1280,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5901f4fee3e27e87b6d20f85aaf19da:769646ccfca2d7010a9a5653bb489d2e:111c0dbe3d7f5ae51acffc6bf36e815c$</string>
            <key>textureFileName</key>
            <string>yuchaolaile_1.png</string>
        </dict>
    </dict>
</plist>
