<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ani1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{88,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{175,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{175,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{349,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{436,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{175,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{523,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{610,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{697,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{784,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{697,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{871,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{697,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{958,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{262,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1045,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1132,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1219,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1306,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ani1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,89}</string>
                <key>spriteSourceSize</key>
                <string>{85,89}</string>
                <key>textureRect</key>
                <string>{{1219,1},{85,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>expresion_1.png</string>
            <key>size</key>
            <string>{1392,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1491b7907919bb19d127142c66e02f89:2cad8a34b957dd1c23c235d102425374:7a3fc895e99ac00c7266bf67e238e35e$</string>
            <key>textureFileName</key>
            <string>expresion_1.png</string>
        </dict>
    </dict>
</plist>
