<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_yuwangqipao_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,195},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,195},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,390},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,390},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,585},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,585},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,780},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,780},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,975},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{200,975},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,195}</string>
                <key>spriteSourceSize</key>
                <string>{200,195}</string>
                <key>textureRect</key>
                <string>{{0,1170},{200,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Armature_yuwangqipao.png</string>
            <key>size</key>
            <string>{400,1365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e79cb279cbe90c7bd7bb433ab6c5107d:d34fd3e83d71199de83d6a7c4047506e:8f7c3489083aeef1c3e6b77dcaf5ffc8$</string>
            <key>textureFileName</key>
            <string>Armature_yuwangqipao.png</string>
        </dict>
    </dict>
</plist>
