<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_newAnimation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1600,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{960,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1280,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1600,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{960,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_newAnimation_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1280,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Armature_newAnimation.png</string>
            <key>size</key>
            <string>{1920,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086f2e2a59c9f94a8c6433845fe9daab:4228b65afd7c21977fc62e063bce60ba:a6b86a9e70aa4c15c195023d9ed8226d$</string>
            <key>textureFileName</key>
            <string>Armature_newAnimation.png</string>
        </dict>
    </dict>
</plist>
