<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xing02.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0002.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0003.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0004.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0005.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0006.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1090</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0007.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1348</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0008.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1606</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0009.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0010.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0011.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0012.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0013.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1032</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0014.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1290</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0015.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0016.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0017.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0018.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0019.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>774</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0020.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1032</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0021.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1290</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0022.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0023.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>star/0024.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>474.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>482</integer>
				<key>originalWidth</key>
				<integer>489</integer>
				<key>originalHeight</key>
				<integer>482</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyj0.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1007</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0003.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1345</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0004.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1683</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0005.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0006.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0007.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0008.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1014</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0009.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0010.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1690</integer>
				<key>y</key>
				<integer>1258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0011.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0012.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0013.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>676</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0014.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1014</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dyjsg/dyjsg0015.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1352</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>txt_dyj.png</key>
			<dict>
				<key>width</key>
				<integer>336</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1690</integer>
				<key>y</key>
				<integer>1376</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>quanquan.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>img_jiangbei.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>1494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>img2.png</key>
			<dict>
				<key>width</key>
				<integer>484</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>484</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>537</integer>
				<key>y</key>
				<integer>1494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guang.png</key>
			<dict>
				<key>width</key>
				<integer>453</integer>
				<key>height</key>
				<integer>461</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>461</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>1494</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dayingjia0.png</string>
			<key>realTextureFileName</key>
			<string>dayingjia0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>