<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jigubangtishi07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jigubangtishi08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jigubangtishi09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jigubangtishi10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jigubangtishi11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jigubangtishi12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jigubangtishi_2.png</string>
            <key>size</key>
            <string>{1280,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a76e5544a0201d07b37f386d7ffa100:4959323eee55ed12846b5621f67f76c2:ae266edbbe08e92ee3148992e9bc7064$</string>
            <key>textureFileName</key>
            <string>jigubangtishi_2.png</string>
        </dict>
    </dict>
</plist>
