<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meirenyutis25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meirenyutis_2.png</string>
            <key>size</key>
            <string>{1280,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97efe5f87c0aaeddbad4bc76604eb4f5:b39cd29069f6b27bd7d60278fdde9434:1d3f561e880932576bd30745c10a6c81$</string>
            <key>textureFileName</key>
            <string>meirenyutis_2.png</string>
        </dict>
    </dict>
</plist>
