<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meirenyutis01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meirenyutis.png</string>
            <key>size</key>
            <string>{1920,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f486462b39d5d7435ba535c18d0b68:23ef170a6eb93433e27148f58927cc0e:a56486861df1558de5a45dc51e80577c$</string>
            <key>textureFileName</key>
            <string>meirenyutis.png</string>
        </dict>
    </dict>
</plist>
