<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meirenyutis01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,256},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,256},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,256},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,512},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,512},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,512},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,768},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,768},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,768},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,1024},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,1024},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,1024},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,1280},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,1280},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,1536},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,1536},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,1536},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{0,1792},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{640,1792},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meirenyutis24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,256}</string>
                <key>spriteSourceSize</key>
                <string>{640,256}</string>
                <key>textureRect</key>
                <string>{{1280,1792},{640,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meirenyutis_1.png</string>
            <key>size</key>
            <string>{1920,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d86013fe905583ba7ee15f0d4520bed:dbf6ff82ccff4e9292b8f37c0dbeaa24:1cdbd891896a177c4e768779e83a2b51$</string>
            <key>textureFileName</key>
            <string>meirenyutis_1.png</string>
        </dict>
    </dict>
</plist>
