<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunwukongtishi25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunwukongtishi26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunwukongtishi_5.png</string>
            <key>size</key>
            <string>{1280,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90265245cc7be57452f2fa308c7de946:ef4eba9726d235b9f8ba8e70fdcbbe0c:17982dd0f87b24de1768a7e30053fd9b$</string>
            <key>textureFileName</key>
            <string>sunwukongtishi_5.png</string>
        </dict>
    </dict>
</plist>
