<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanfczhongts01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfczhongts02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfczhongts03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfczhongts04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfczhongts05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfczhongts06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanfczhongts_1.png</string>
            <key>size</key>
            <string>{1280,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a02337042fd6d1321c9e3187a414995:ea03346cdfdf7e08af9e1eafb0080376:f593eb0eabc94be3afa90ca64f1812cd$</string>
            <key>textureFileName</key>
            <string>wanfczhongts_1.png</string>
        </dict>
    </dict>
</plist>
