<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuhaungdaditis01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,300}</string>
                <key>spriteSourceSize</key>
                <string>{1280,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{1280,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuhaungdaditis_1.png</string>
            <key>size</key>
            <string>{1280,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e0feeb88d94dab7d695f33cbc1e5b1c:f46909da348e1886b052058fe3fc7a64:93b693a3942504253d990d40ed355a69$</string>
            <key>textureFileName</key>
            <string>yuhaungdaditis_1.png</string>
        </dict>
    </dict>
</plist>
