<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuhaungdaditis01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,0},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,800},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1000},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1200},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{1280,1400},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{0,1600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuhaungdaditis26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,200}</string>
                <key>textureRect</key>
                <string>{{640,1600},{640,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuhaungdaditis.png</string>
            <key>size</key>
            <string>{1920,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5308eee6df0bd24e99a83383b2c66648:bf36cd949aedd244694e10644bdb1c5a:d4a670584595903f3f777da199ecb308$</string>
            <key>textureFileName</key>
            <string>yuhaungdaditis.png</string>
        </dict>
    </dict>
</plist>
