<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armature_yuwangqipao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{0,0},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{354,0},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{708,0},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{1062,0},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{1416,0},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{0,346},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{354,346},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{708,346},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{1062,346},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{1416,346},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{0,692},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{354,692},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Armature_yuwangqipao13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,346}</string>
                <key>spriteSourceSize</key>
                <string>{354,346}</string>
                <key>textureRect</key>
                <string>{{708,692},{354,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Armature_yuwangqipao.png</string>
            <key>size</key>
            <string>{1770,1038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3e88acc94449ed8ef6c8415055aa684:e365cde2fddc069a910e5b394d394b8b:8f7c3489083aeef1c3e6b77dcaf5ffc8$</string>
            <key>textureFileName</key>
            <string>Armature_yuwangqipao.png</string>
        </dict>
    </dict>
</plist>
