<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanpan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{0,0},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{346,0},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{0,346},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{346,346},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{0,692},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuanpan06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,346}</string>
                <key>spriteSourceSize</key>
                <string>{346,346}</string>
                <key>textureRect</key>
                <string>{{346,692},{346,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhuanpan.png</string>
            <key>size</key>
            <string>{692,1038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0250e5333dfdc4ff7c8ae44ed25d215:f9094ac13fc987b572b0df2e2d6e8d20:0a870e22df63e17930c76a15049f1cba$</string>
            <key>textureFileName</key>
            <string>zhuanpan.png</string>
        </dict>
    </dict>
</plist>
