<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove024_2.png</string>
            <key>size</key>
            <string>{1950,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e7a86cd36728a433b9c2f3bfed3214d:c7039a7b8017b179ea831f20cdcfb66b:4060ac9b92f8881f075c71efdf632627$</string>
            <key>textureFileName</key>
            <string>fishMove024_2.png</string>
        </dict>
    </dict>
</plist>
