<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02523.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02524.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_4.png</string>
            <key>size</key>
            <string>{1888,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cddcc9e42d2a45362006b0e2f125693a:11485cb12ab0bd41bf785f591bb81c00:5e4457a12f1ea8e0433c3059c3f27583$</string>
            <key>textureFileName</key>
            <string>fishMove025_4.png</string>
        </dict>
    </dict>
</plist>
