<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove027_1.png</string>
            <key>size</key>
            <string>{1800,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0f050cf685b276083794c5dcd03599:80ea81a73e216eecc3284c0a9577f77c:aba861eacc1faa7dd8c4ba2d507225c6$</string>
            <key>textureFileName</key>
            <string>fishMove027_1.png</string>
        </dict>
    </dict>
</plist>
