<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,33},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,65},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,65},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,97},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,193},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,193},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,129},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,161},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,30}</string>
                <key>spriteSourceSize</key>
                <string>{22,30}</string>
                <key>textureRect</key>
                <string>{{1,161},{22,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{24,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ea31699345fe6d924e0ce118bf3aa84:15bfa313f106ec7854e606b18723e1fc:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
