<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinbichang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,82}</string>
                <key>spriteSourceSize</key>
                <string>{175,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{175,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbichang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,82}</string>
                <key>spriteSourceSize</key>
                <string>{175,82}</string>
                <key>textureRect</key>
                <string>{{175,0},{175,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbichang03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,82}</string>
                <key>spriteSourceSize</key>
                <string>{175,82}</string>
                <key>textureRect</key>
                <string>{{350,0},{175,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbichang04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,82}</string>
                <key>spriteSourceSize</key>
                <string>{175,82}</string>
                <key>textureRect</key>
                <string>{{525,0},{175,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinbichang.png</string>
            <key>size</key>
            <string>{700,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8848f2d4bb19484f8fdffcf3dd210b1a:1dfd2dd3675da565f03c1e91a2446343:d707747282acbaa6ab580d36e047fd6f$</string>
            <key>textureFileName</key>
            <string>jinbichang.png</string>
        </dict>
    </dict>
</plist>
