<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiyanchang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{173,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiyanchang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{173,81}</string>
                <key>textureRect</key>
                <string>{{173,0},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiyanchang03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{173,81}</string>
                <key>textureRect</key>
                <string>{{346,0},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiyanchang04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{173,81}</string>
                <key>textureRect</key>
                <string>{{519,0},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tiyanchang.png</string>
            <key>size</key>
            <string>{692,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080b61a6fd279202f614f760d98d81fd:0425addfa72afdaf49516d242710b99a:383c8226d924dedcd152073d884276bb$</string>
            <key>textureFileName</key>
            <string>tiyanchang.png</string>
        </dict>
    </dict>
</plist>
