<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuting01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuting02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuting03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{272,0},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuting04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,84}</string>
                <key>spriteSourceSize</key>
                <string>{136,84}</string>
                <key>textureRect</key>
                <string>{{408,0},{136,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuting.png</string>
            <key>size</key>
            <string>{544,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3dfcd86bf7626535302f3f7f5397ac:02838cff4caaf2361a0ad0d007954a9e:d5cc23d092f1f461747dfcc9b5b52162$</string>
            <key>textureFileName</key>
            <string>yuting.png</string>
        </dict>
    </dict>
</plist>
