<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zyjiantou01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{80,82},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{160,82},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{0,164},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{80,164},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{160,164},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{0,246},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{80,246},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{160,246},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{0,328},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{80,328},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zyjiantou15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{160,328},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zyjiantou.png</string>
            <key>size</key>
            <string>{240,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5170b665c0661d4b02f509d1ec57b933:c2590b19a411d11d4d5bc876169d0116:7261632cce2fcc3927aedf5b8489c9e3$</string>
            <key>textureFileName</key>
            <string>zyjiantou.png</string>
        </dict>
    </dict>
</plist>
