<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove03601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{210,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{420,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{630,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{840,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1050,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1260,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1470,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1680,0},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{0,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{210,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{420,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{630,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{840,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1050,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1260,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1470,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1680,210},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove036.png</string>
            <key>size</key>
            <string>{1890,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40e5a228929b0c79f241909e4f37e825:6904a8979642ce8ffd81c813208a93da:d4ed290f7c70e3b993d92a54af39da78$</string>
            <key>textureFileName</key>
            <string>fishMove036.png</string>
        </dict>
    </dict>
</plist>
