<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove03601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{0,0},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{420,0},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{840,0},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1260,0},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{0,420},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{420,420},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{840,420},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1260,420},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{0,840},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{420,840},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{840,840},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1260,840},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{0,1260},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{420,1260},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{840,1260},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove03616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,420}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{1260,1260},{420,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove036.png</string>
            <key>size</key>
            <string>{1680,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174a0e9214f428503bb3742656f84e96:d0c3131662ace50830b7a1534c84d08d:d4ed290f7c70e3b993d92a54af39da78$</string>
            <key>textureFileName</key>
            <string>fishMove036.png</string>
        </dict>
    </dict>
</plist>
