<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangyh01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{218,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{436,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{654,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{872,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1090,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1308,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1526,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1744,0},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{218,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{436,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{654,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{872,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1090,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1308,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1526,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1744,200},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{218,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{436,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{654,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{872,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1090,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1308,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangyh26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,200}</string>
                <key>textureRect</key>
                <string>{{1526,400},{218,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huangyh.png</string>
            <key>size</key>
            <string>{1962,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:144e8574cf92b46331e7ccc72061734d:3d2fc361ec6b9c9bfb4b26138ee21b9d:c7cb17e581f61dcb00082f9404daedf2$</string>
            <key>textureFileName</key>
            <string>huangyh.png</string>
        </dict>
    </dict>
</plist>
