<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingxiao01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{0,0},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{346,0},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{692,0},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1038,0},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{0,309},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{346,309},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{692,309},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1038,309},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{0,618},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{346,618},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{692,618},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1038,618},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{0,927},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{346,927},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{692,927},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingxiao16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1038,927},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingxiao.png</string>
            <key>size</key>
            <string>{1384,1236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1234f3d684ed079ad9faa4a161868360:48fb4dae4b832777174f255c5c0d2583:696468e42a5d5eb4f105f7c36080c7a2$</string>
            <key>textureFileName</key>
            <string>bingxiao.png</string>
        </dict>
    </dict>
</plist>
