<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingzhong01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{0,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{231,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{462,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{693,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{924,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1155,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1386,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1617,0},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{0,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{231,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{462,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{693,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{924,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1155,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1386,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingzhong16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,209}</string>
                <key>spriteSourceSize</key>
                <string>{231,209}</string>
                <key>textureRect</key>
                <string>{{1617,209},{231,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingzhong.png</string>
            <key>size</key>
            <string>{1848,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c879d263be016bc2613f08c46f32b652:045965ca5669c947d4d488edb2d18994:5d7f79284f8cf119fde4c4c3daa1c139$</string>
            <key>textureFileName</key>
            <string>bingzhong.png</string>
        </dict>
    </dict>
</plist>
