<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingda01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{415,0},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{830,0},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{1245,0},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{0,384},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{415,384},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{830,384},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{1245,384},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{0,768},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{415,768},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{830,768},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{1245,768},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{0,1152},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{415,1152},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{830,1152},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingda16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,384}</string>
                <key>spriteSourceSize</key>
                <string>{415,384}</string>
                <key>textureRect</key>
                <string>{{1245,1152},{415,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingda.png</string>
            <key>size</key>
            <string>{1660,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12009ccb73d7e2a74e9f95b50951fe37:e37386130389e31bcf71033f9393069e:edae6596698230ccfa744bca59e517ac$</string>
            <key>textureFileName</key>
            <string>bingda.png</string>
        </dict>
    </dict>
</plist>
