<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashandian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashandian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashandian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashandian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashandian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,1032},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashandian.png</string>
            <key>size</key>
            <string>{615,1290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d30e90c35c7eec075a6ded1689809c8:da59428922147216e43533f7b3117f7e:541d899f56b60c2a8938a5b0e1f6292f$</string>
            <key>textureFileName</key>
            <string>dashandian.png</string>
        </dict>
    </dict>
</plist>
