<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,1136},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,1136},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dian_2.png</string>
            <key>size</key>
            <string>{1932,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101753490bc6d4ddd8ce62afd8affcb6:ba98b76f0cf82ff3e41ad30120a64862:a443b6cbace7b4c18eca1670adb84c12$</string>
            <key>textureFileName</key>
            <string>dian_2.png</string>
        </dict>
    </dict>
</plist>
