<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dian_3.png</string>
            <key>size</key>
            <string>{1932,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16474ca3271b92826a9184ae3a893447:e0c25cb9ec9fa04fb6ddd43b3a561fd7:f3e2829a50e1c056245e650b11ca6e37$</string>
            <key>textureFileName</key>
            <string>dian_3.png</string>
        </dict>
    </dict>
</plist>
