<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,1136},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,1136},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dian_1.png</string>
            <key>size</key>
            <string>{1932,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b80836b073d8d2592746927134c074:e75ac579c591b78ba8831690ffafcd93:1a210bc6606995b2c5894d1aff0c7104$</string>
            <key>textureFileName</key>
            <string>dian_1.png</string>
        </dict>
    </dict>
</plist>
