<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenghuolun01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,678}</string>
                <key>spriteSourceSize</key>
                <string>{1168,678}</string>
                <key>textureRect</key>
                <string>{{0,0},{1168,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,678}</string>
                <key>spriteSourceSize</key>
                <string>{1168,678}</string>
                <key>textureRect</key>
                <string>{{0,678},{1168,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,678}</string>
                <key>spriteSourceSize</key>
                <string>{1168,678}</string>
                <key>textureRect</key>
                <string>{{0,1356},{1168,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fenghuolun_1.png</string>
            <key>size</key>
            <string>{1168,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58de1cdf1e023c0b6a7b4555db3fc5a0:0893a0ff95978f80a84b6f3a38936ec2:0f410583d8cf4b08c5fbab99d0e29a0f$</string>
            <key>textureFileName</key>
            <string>fenghuolun_1.png</string>
        </dict>
    </dict>
</plist>
