<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenghuolun13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,678}</string>
                <key>spriteSourceSize</key>
                <string>{1168,678}</string>
                <key>textureRect</key>
                <string>{{0,0},{1168,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,678}</string>
                <key>spriteSourceSize</key>
                <string>{1168,678}</string>
                <key>textureRect</key>
                <string>{{0,678},{1168,678}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fenghuolun_5.png</string>
            <key>size</key>
            <string>{1168,1356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a91e98c55760c7b9237dee13a61ed278:846d295159d88d948dda7c9a5785ff5b:3c8080820f1f8bf07e8116f37cf09a32$</string>
            <key>textureFileName</key>
            <string>fenghuolun_5.png</string>
        </dict>
    </dict>
</plist>
