<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenghuolun07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fenghuolun12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fenghuolun_2.png</string>
            <key>size</key>
            <string>{1800,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c10e2c3eb965222eaa9c6eedc0cdaa27:f30104b6414435e3f3e487cbb8ce4c3a:4fdb4c5e46a5a324ecd57b4afa5a65b4$</string>
            <key>textureFileName</key>
            <string>fenghuolun_2.png</string>
        </dict>
    </dict>
</plist>
