<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguang_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,35}</string>
                <key>spriteSourceSize</key>
                <string>{199,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiguang_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,35}</string>
                <key>spriteSourceSize</key>
                <string>{199,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{199,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiguang_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,35}</string>
                <key>spriteSourceSize</key>
                <string>{199,35}</string>
                <key>textureRect</key>
                <string>{{1,75},{199,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiguang_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,35}</string>
                <key>spriteSourceSize</key>
                <string>{199,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{199,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiguang.png</string>
            <key>size</key>
            <string>{201,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ffca105db60431243fb0a134e7a40ed:ade61beda7276ccc73b4f7c8ac61f98a:5bf1f644696c7cf417e039b639327650$</string>
            <key>textureFileName</key>
            <string>jiguang.png</string>
        </dict>
    </dict>
</plist>
