<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jindabaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,716}</string>
                <key>spriteSourceSize</key>
                <string>{759,716}</string>
                <key>textureRect</key>
                <string>{{0,0},{759,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindabaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,716}</string>
                <key>spriteSourceSize</key>
                <string>{759,716}</string>
                <key>textureRect</key>
                <string>{{759,0},{759,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindabaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,716}</string>
                <key>spriteSourceSize</key>
                <string>{759,716}</string>
                <key>textureRect</key>
                <string>{{0,716},{759,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindabaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{759,716}</string>
                <key>spriteSourceSize</key>
                <string>{759,716}</string>
                <key>textureRect</key>
                <string>{{759,716},{759,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jindabaodian_1.png</string>
            <key>size</key>
            <string>{1518,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52f46fcfd99b384c2fb96c30c06c5b6:c0ff9859ae92a6227b41fc58c130f99e:1c70439d1ecb50dd52edb7f0ddf15394$</string>
            <key>textureFileName</key>
            <string>jindabaodian_1.png</string>
        </dict>
    </dict>
</plist>
