<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinfenxing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,86}</string>
                <key>spriteSourceSize</key>
                <string>{323,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{323,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinfenxing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,86}</string>
                <key>spriteSourceSize</key>
                <string>{323,86}</string>
                <key>textureRect</key>
                <string>{{323,0},{323,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinfenxing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,86}</string>
                <key>spriteSourceSize</key>
                <string>{323,86}</string>
                <key>textureRect</key>
                <string>{{646,0},{323,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinfenxing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,86}</string>
                <key>spriteSourceSize</key>
                <string>{323,86}</string>
                <key>textureRect</key>
                <string>{{969,0},{323,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinfenxing.png</string>
            <key>size</key>
            <string>{1292,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eafb049a8b7bac1154442d33f5c449c2:17bbe4850af5f1711e1b1c1dd0fff1e0:a448842a299a29bceade7ff6ed4c67b8$</string>
            <key>textureFileName</key>
            <string>jinfenxing.png</string>
        </dict>
    </dict>
</plist>
