<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingubang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jingubang_1.png</string>
            <key>size</key>
            <string>{1990,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b482e1147ee6438e9e41a4f7b1e7558e:5c3d75dd9916d2b1ae6ea827b6ffb424:26eeb2f62c71da68553f7ca99ed31fd7$</string>
            <key>textureFileName</key>
            <string>jingubang_1.png</string>
        </dict>
    </dict>
</plist>
