<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingubang05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jingubang_2.png</string>
            <key>size</key>
            <string>{1990,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:197be16f5987c3f915c3120b34287f8f:7a0883c48370db4e7252be688ee02a5a:360ba72585e71fd84d01621f46ce5b42$</string>
            <key>textureFileName</key>
            <string>jingubang_2.png</string>
        </dict>
    </dict>
</plist>
