<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingubang09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,0},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{995,720}</string>
                <key>spriteSourceSize</key>
                <string>{995,720}</string>
                <key>textureRect</key>
                <string>{{995,720},{995,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jingubang_3.png</string>
            <key>size</key>
            <string>{1990,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c843b79c4bc1320830760fd3f2ee56b:45b1a2e982b0274286dc473a94a8cf8e:0f2fc657d16760c2f77ce3d10bd7eae7$</string>
            <key>textureFileName</key>
            <string>jingubang_3.png</string>
        </dict>
    </dict>
</plist>
