<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingubang07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jingubang_2.png</string>
            <key>size</key>
            <string>{1800,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28073690ed6c12cf8a95bf14ef257482:852200bfa4e1e80e2dfc767f9c4e759d:360ba72585e71fd84d01621f46ce5b42$</string>
            <key>textureFileName</key>
            <string>jingubang_2.png</string>
        </dict>
    </dict>
</plist>
