<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingubang01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,500},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{0,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jingubang06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,500}</string>
                <key>spriteSourceSize</key>
                <string>{900,500}</string>
                <key>textureRect</key>
                <string>{{900,1000},{900,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jingubang_1.png</string>
            <key>size</key>
            <string>{1800,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92bb2af9e72e9570479e27badb9c9cf2:ac6c4ea812a4f2a9e1b1b6fe55b5ad59:26eeb2f62c71da68553f7ca99ed31fd7$</string>
            <key>textureFileName</key>
            <string>jingubang_1.png</string>
        </dict>
    </dict>
</plist>
