<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinxiaobaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinxiaobaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,164},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinxiaobaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,328},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinxiaobaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,492},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinxiaobaodian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,656},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinxiaobaodian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{0,820},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinxiaobaodian.png</string>
            <key>size</key>
            <string>{174,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1da7551a5ce9ce66d2f9eaf4a1b595:dcea2406645a5033e3380340ece5d29b:ad7ffc689535617027bae2f7da2fe6b0$</string>
            <key>textureFileName</key>
            <string>jinxiaobaodian.png</string>
        </dict>
    </dict>
</plist>
