<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanbaodadian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{5,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{6,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{0,444},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{895,0},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{444,444},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{1332,444},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{0,888},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{888,888},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{444,1332},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{1332,888},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{0,1332},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{444,888},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{888,444},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{7,0},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{444,444}</string>
                <key>textureRect</key>
                <string>{{451,0},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{3,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{2,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanbaodadian20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{4,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sanbaodadian.png</string>
            <key>size</key>
            <string>{1776,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24510f00d266219ef58fc249e48a0e4e:1f597cd59f6b097cf8c9856b72963029:32f7e5350a6723209a70c9ab2ed5ce50$</string>
            <key>textureFileName</key>
            <string>sanbaodadian.png</string>
        </dict>
    </dict>
</plist>
