<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanfeixing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{2,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{3,0},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{101,0},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{199,0},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{297,0},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,60}</string>
                <key>spriteSourceSize</key>
                <string>{98,60}</string>
                <key>textureRect</key>
                <string>{{395,0},{98,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{493,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{494,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{495,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{496,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{497,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{498,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{499,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{500,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{501,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{502,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{503,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanfeixing20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{504,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sanfeixing.png</string>
            <key>size</key>
            <string>{505,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c66b6b7478a274fa2b3831a00828656:9d42dfdcc68fdeecc060a58bb7f15a33:91e76451242e25b230b09d89bb8b5cc3$</string>
            <key>textureFileName</key>
            <string>sanfeixing.png</string>
        </dict>
    </dict>
</plist>
