<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanxiaobaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{2,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{3,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{4,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{5,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{6,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{7,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{238,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{469,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{700,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{931,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{1162,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{1393,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{231,218}</string>
                <key>textureRect</key>
                <string>{{1624,0},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1855,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1856,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1857,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1858,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanxiaobaodian20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1859,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sanxiaobaodian.png</string>
            <key>size</key>
            <string>{1860,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89baa6e8f2d270a4c396a7493882711:4496d8a7817de63a3ce45dbf10baad08:9787d208bd10ca637a986d8bc442ca5c$</string>
            <key>textureFileName</key>
            <string>sanxiaobaodian.png</string>
        </dict>
    </dict>
</plist>
