<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{0,0},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{343,0},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{686,0},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{1029,0},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{1372,0},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{0,335},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{343,335},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{686,335},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{1029,335},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,335}</string>
                <key>spriteSourceSize</key>
                <string>{343,335}</string>
                <key>textureRect</key>
                <string>{{1372,335},{343,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shouji_1.png</string>
            <key>size</key>
            <string>{1715,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc1f21300398513be0f230ab941e5f09:5d793426d95c55abde963e5db8cb276e:87186202a0868b998c404d5daa22325d$</string>
            <key>textureFileName</key>
            <string>shouji_1.png</string>
        </dict>
    </dict>
</plist>
