<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouji_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{267,0},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{534,0},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{0,250},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{267,250},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{534,250},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{0,500},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{267,500},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{534,500},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{0,750},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{267,750},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{534,750},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{535,750},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{536,750},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{537,750},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shouji_216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{538,750},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shouji_2.png</string>
            <key>size</key>
            <string>{801,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d869b7d7bc6d769106258144f76dd9a:c5b4bdbbe93b165a1fedb5faae42d74f:15c4c0f1f687b9c3b3b2a3030c74376f$</string>
            <key>textureFileName</key>
            <string>shouji_2.png</string>
        </dict>
    </dict>
</plist>
