<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanfcztis15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfcztis16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wanfcztis_8.png</string>
            <key>size</key>
            <string>{1280,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182aa54f3ffdb8eaa7b6006c13138ae2:2c13ff58cacc1aa7e84f2a028ea544d5:74ac5b0a46e13766477d30e15c38d34d$</string>
            <key>textureFileName</key>
            <string>wanfcztis_8.png</string>
        </dict>
    </dict>
</plist>
