<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoshandian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{615,0},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{1230,0},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{615,258},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{1230,258},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{615,516},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{1230,516},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoshandian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,258}</string>
                <key>spriteSourceSize</key>
                <string>{615,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{615,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoshandian.png</string>
            <key>size</key>
            <string>{1845,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9641e3cd00dc4ad1a12dc9d430e177d8:08e8f4b12976e104bf8c6d5b6e7849c7:cebe1345df690ff45c72dd45c0db5006$</string>
            <key>textureFileName</key>
            <string>xiaoshandian.png</string>
        </dict>
    </dict>
</plist>
