<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaodian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,0},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{0,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{966,568}</string>
                <key>spriteSourceSize</key>
                <string>{966,568}</string>
                <key>textureRect</key>
                <string>{{966,568},{966,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaodian_2.png</string>
            <key>size</key>
            <string>{1932,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b71fc5706b396f417b49b6f885e11d:e0c25cb9ec9fa04fb6ddd43b3a561fd7:5740da3c6a63312500a5176cfeb2c2fe$</string>
            <key>textureFileName</key>
            <string>xiaodian_2.png</string>
        </dict>
    </dict>
</plist>
