<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{0,0},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{656,0},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{1312,0},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{0,242},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{656,242},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{1312,242},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{0,484},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{656,484},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{1312,484},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaodian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,242}</string>
                <key>spriteSourceSize</key>
                <string>{656,242}</string>
                <key>textureRect</key>
                <string>{{0,726},{656,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaodian.png</string>
            <key>size</key>
            <string>{1968,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:280ca84754f89561044d2d6a843590bc:dfffdaa16d6e4f38efb22242f57ac9dd:949ccecf35ea1e48604e64b060154494$</string>
            <key>textureFileName</key>
            <string>xiaodian.png</string>
        </dict>
    </dict>
</plist>
