<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yidabaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{0,0},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{444,0},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{888,0},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{1332,0},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{0,435},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{444,435},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{888,435},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{1332,435},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{0,870},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{444,870},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{888,870},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{1332,870},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{0,1305},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{444,1305},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,435}</string>
                <key>spriteSourceSize</key>
                <string>{444,435}</string>
                <key>textureRect</key>
                <string>{{888,1305},{444,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1332,1305},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1333,1305},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1334,1305},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1335,1305},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1336,1305},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yidabaodian.png</string>
            <key>size</key>
            <string>{1776,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56fa5e50cc77c35419613621ddec5fe8:0ddf0873a28ef0337be22ebe4ab03b25:2d0a5a2c7da57925b87a6917973e4ab6$</string>
            <key>textureFileName</key>
            <string>yidabaodian.png</string>
        </dict>
    </dict>
</plist>
