<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yidabaodian01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{0,0},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{398,0},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{796,0},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1194,0},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1592,0},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{0,406},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{398,406},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{796,406},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1194,406},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1592,406},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{0,812},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{398,812},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{796,812},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1194,812},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,406}</string>
                <key>spriteSourceSize</key>
                <string>{398,406}</string>
                <key>textureRect</key>
                <string>{{1592,812},{398,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1990,812},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1991,812},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1992,812},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1993,812},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yidabaodian20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1994,812},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yidabaodian.png</string>
            <key>size</key>
            <string>{1995,1218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4913ded5cd39746e808dad5a7f437240:488777c9e032e97210bf7cfdd20c1e2e:2d0a5a2c7da57925b87a6917973e4ab6$</string>
            <key>textureFileName</key>
            <string>yidabaodian.png</string>
        </dict>
    </dict>
</plist>
