<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yifeixing01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,206}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{1,0},{273,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,206}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{274,0},{273,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,206}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{547,0},{273,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,206}</string>
                <key>spriteSourceSize</key>
                <string>{273,206}</string>
                <key>textureRect</key>
                <string>{{820,0},{273,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1093,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1094,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1095,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1096,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1097,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1098,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1099,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1100,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1101,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1102,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1103,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1104,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1105,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1106,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yifeixing20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1107,0},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yifeixing.png</string>
            <key>size</key>
            <string>{1108,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c276b5bb687d6b1663c424c1a35e079:c4c3dda22dc9b7bed16a3a1cb56ceb91:e473887a3741e5c38b5540e065e00697$</string>
            <key>textureFileName</key>
            <string>yifeixing.png</string>
        </dict>
    </dict>
</plist>
