<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1255},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove019.png</string>
            <key>size</key>
            <string>{736,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bf02a0a35063f39a03f775ff2925fa8:466fc38d1c6b2672afcbb1b619888ccc:9ef5b6fdf8d518973fe6a5316c0163f3$</string>
            <key>textureFileName</key>
            <string>fishMove019.png</string>
        </dict>
    </dict>
</plist>
