<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,0},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,0},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,93},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,93},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,93},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,186},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,186},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,186},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,279},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,279},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,279},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,372},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,372},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,372},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,465},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,465},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,465},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,558},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,558},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,558},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,651},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,651},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,651},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,744},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,744},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,744},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{0,837},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{139,837},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{139,93}</string>
                <key>textureRect</key>
                <string>{{278,837},{139,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni009.png</string>
            <key>size</key>
            <string>{417,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee3073c1d49130fd96fc75c35ad1142:eb00e20052a56fbd8b7f8c0005137965:c84ee3f5da2d9c97ca16625776060f83$</string>
            <key>textureFileName</key>
            <string>fishAni009.png</string>
        </dict>
    </dict>
</plist>
