<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,980},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,980},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,1225},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow014.png</string>
            <key>size</key>
            <string>{720,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f382e43f85a9dbacc630ff4136ff8ac:96fa8e07310f3bbe0cdb3082bbaf774c:fe4a6162760054fedca6b7507fe863d1$</string>
            <key>textureFileName</key>
            <string>fishShadow014.png</string>
        </dict>
    </dict>
</plist>
