<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{406,206}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{205,607},{406,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{406,198}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{613,807},{406,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{406,200}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{613,403},{406,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{410,192}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{205,1},{410,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{412,202}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishMove02406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{402,192}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{617,1},{402,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{406,206}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{613,195},{406,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{406,198}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{399,195},{406,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishShadow02403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-1}</string>
                <key>spriteSize</key>
                <string>{406,200}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{613,605},{406,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{410,192}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{205,195},{410,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishShadow02405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{412,202}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{1,415},{412,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fishShadow02406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{402,192}</string>
                <key>spriteSourceSize</key>
                <string>{498,304}</string>
                <key>textureRect</key>
                <string>{{205,815},{402,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni024.png</string>
            <key>size</key>
            <string>{1020,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceafef79adbdb41a1406feb5b3df273c:32447d879dc465b4e64325982317decd:eb77c7900a199fe3a49d548a676c866e$</string>
            <key>textureFileName</key>
            <string>fishAni024.png</string>
        </dict>
    </dict>
</plist>
