<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDieShadow01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,900},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1080},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow01508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1260},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDieShadow015.png</string>
            <key>size</key>
            <string>{380,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb85902f27f7212b1bdd113a394720fd:7d246447db859b1c8185159b4630d360:12cf1ec388f7177ed3c180a1439d4421$</string>
            <key>textureFileName</key>
            <string>fishDieShadow015.png</string>
        </dict>
    </dict>
</plist>
