<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,444},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,518},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,592},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,666},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow002.png</string>
            <key>size</key>
            <string>{108,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b19530a5692306006ffa1a30b65e8c5:d2d1c5aae0923c8b8a90b165744f3427:b85b7b49e64958af9df23e3a3236f56a$</string>
            <key>textureFileName</key>
            <string>fishShadow002.png</string>
        </dict>
    </dict>
</plist>
