<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{888,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{1184,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{1480,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{888,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{1184,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{1480,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni017.png</string>
            <key>size</key>
            <string>{1776,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:483359993634df7e83b5ed6b59c7611d:7aaad3d1a755c086a6ac2214fcdc8511:dd7a2b6dfa43292583bc598cd333b7dc$</string>
            <key>textureFileName</key>
            <string>fishAni017.png</string>
        </dict>
    </dict>
</plist>
