<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{640,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{800,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{960,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{1120,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{1280,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{1440,0},{160,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove004.png</string>
            <key>size</key>
            <string>{1600,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:443fc3faf72a6210e036c68e3bfe74ad:ae823d8b27136032fe8da0006978331f:11f2f145519d8fba2745d6ca41858fe2$</string>
            <key>textureFileName</key>
            <string>fishMove004.png</string>
        </dict>
    </dict>
</plist>
