<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{123,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{246,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{369,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{492,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{615,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{738,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{861,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow010.png</string>
            <key>size</key>
            <string>{984,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33239e3e2ade5f26c856958613b70009:672d08a9036d03d1ac15b9ca2b0c709d:c654ed07e49ddd6106fa228c9e8234bb$</string>
            <key>textureFileName</key>
            <string>fishShadow010.png</string>
        </dict>
    </dict>
</plist>
