<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{402,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{536,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{670,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{804,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{938,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1072,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1206,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1340,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1474,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow017.png</string>
            <key>size</key>
            <string>{1608,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6424c7d59f4c26e804a69fe0bc2fbe6a:a9b144a08eb9dfe8446cf7bd66dabff2:6437c4a81e035b4c6b09ef8b935df555$</string>
            <key>textureFileName</key>
            <string>fishShadow017.png</string>
        </dict>
    </dict>
</plist>
