<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,76},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,152},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,228},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,304},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,76}</string>
                <key>spriteSourceSize</key>
                <string>{112,76}</string>
                <key>textureRect</key>
                <string>{{0,380},{112,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow006.png</string>
            <key>size</key>
            <string>{112,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b176ce4e1ae40cd93ea54c03e00a7c2:6101c7d056c076031910d1917e259747:15f83a9c610cabd2d719d8e267edbac5$</string>
            <key>textureFileName</key>
            <string>fishShadow006.png</string>
        </dict>
    </dict>
</plist>
