<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,78},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,156},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,234},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,312},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,390},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,468},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,546},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,624},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,702},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,780},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,78}</string>
                <key>spriteSourceSize</key>
                <string>{114,78}</string>
                <key>textureRect</key>
                <string>{{0,858},{114,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow009.png</string>
            <key>size</key>
            <string>{114,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61eedb4e115a485eff939eeb2ac47a2a:08ea9a1c5c0a8a8cf33c432c5549a69d:922f06022264349ca59d9c99e14f4e90$</string>
            <key>textureFileName</key>
            <string>fishShadow009.png</string>
        </dict>
    </dict>
</plist>
