<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDead001.png</string>
            <key>size</key>
            <string>{1600,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24fe68b2482b71a84a897a9ddaa5fe1b:b1315aa0e7c98b6a1537320368c30e3d:3eea496d2c785e3d3052099cab52a5e1$</string>
            <key>textureFileName</key>
            <string>fishDead001.png</string>
        </dict>
    </dict>
</plist>
