<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{125,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{250,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{375,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{500,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{625,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{750,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{875,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1000,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1125,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1250,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1375,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow008.png</string>
            <key>size</key>
            <string>{1500,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9592e6b1bd28e1118ef7765955210297:9014d8870c8ecb18c562f9d46839d2cb:431858cbab0f441c7d7ef92444cc13cd$</string>
            <key>textureFileName</key>
            <string>fishShadow008.png</string>
        </dict>
    </dict>
</plist>
