<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,0},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,180},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,360},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,540},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,720},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,900},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,900},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1080},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,1080},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1260},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{380,1260},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow015.png</string>
            <key>size</key>
            <string>{760,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9849b44808a5f24269cafc9126f426c5:8d20de7b05553183e5fa5b2fccba49a3:9457b88b86f7f22332af614bd1aa6779$</string>
            <key>textureFileName</key>
            <string>fishShadow015.png</string>
        </dict>
    </dict>
</plist>
