<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,784},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,980},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1176},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1372},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1568},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow014.png</string>
            <key>size</key>
            <string>{288,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa21b042ed13df55828b9390f9581d2:eade8cf298e7d97f7d5aba6928d0f15e:fe4a6162760054fedca6b7507fe863d1$</string>
            <key>textureFileName</key>
            <string>fishShadow014.png</string>
        </dict>
    </dict>
</plist>
