<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02523.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02524.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow025_4.png</string>
            <key>size</key>
            <string>{1888,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40a7fed1aebb04ccaef04acb80854bf:9c5c274c94c978d1b711ad26924d525f:b0ec3c487e5d2127b6e3c3a5194adbd0$</string>
            <key>textureFileName</key>
            <string>fishShadow025_4.png</string>
        </dict>
    </dict>
</plist>
