<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow017.png</string>
            <key>size</key>
            <string>{504,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b84101d4d617757e331a0673b2a61254:266020db495e0e0fbb63918a6400711d:6437c4a81e035b4c6b09ef8b935df555$</string>
            <key>textureFileName</key>
            <string>fishShadow017.png</string>
        </dict>
    </dict>
</plist>
