<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow001.png</string>
            <key>size</key>
            <string>{480,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ca594f9cb3b2ab5442bd57248e55a3:ed153b427cc50486b36f0e8e9f7c36e4:ace5ae3aaeec0d09669754e029989ef6$</string>
            <key>textureFileName</key>
            <string>fishShadow001.png</string>
        </dict>
    </dict>
</plist>
