<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1503},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1670},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1837},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove013.png</string>
            <key>size</key>
            <string>{245,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f97cbe5724d21c5cc4c16cab003542:67e97dcdb456ea0a8a33e0338cc581c4:a343f21337ae7a46a1d854a78d704e07$</string>
            <key>textureFileName</key>
            <string>fishMove013.png</string>
        </dict>
    </dict>
</plist>
