<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{792,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{924,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{1056,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{1188,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove007.png</string>
            <key>size</key>
            <string>{1320,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0c5895cafb2fd52a88d3c31b8852b5:db50b8a4b1713dc3e3b3f68eedb11ed8:40d1f049bf0aadc2cb49d1ccc1ed78ea$</string>
            <key>textureFileName</key>
            <string>fishMove007.png</string>
        </dict>
    </dict>
</plist>
