<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,163},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,163},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,326},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,326},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,489},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,489},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,652},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,652},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,815},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,815},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,978},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,978},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,1141},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,1141},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,1304},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,1304},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow008.png</string>
            <key>size</key>
            <string>{480,1467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb061e2d3227bbc292b44d3791f33dd:c79a87f641aa5f44c9ca6ee17bb98eb6:431858cbab0f441c7d7ef92444cc13cd$</string>
            <key>textureFileName</key>
            <string>fishShadow008.png</string>
        </dict>
    </dict>
</plist>
