<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,150}</string>
                <key>spriteSourceSize</key>
                <string>{233,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{233,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni014.png</string>
            <key>size</key>
            <string>{233,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cfe872d17f4f9c4e60490babbe7169:91b8aad8c255556e0518320f2b10ddaa:53beb83f5d89f297d5148eb6a1533816$</string>
            <key>textureFileName</key>
            <string>fishAni014.png</string>
        </dict>
    </dict>
</plist>
