<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow019.png</string>
            <key>size</key>
            <string>{1840,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f437b4cbaff1e0975693bde5d3f994ff:49285f9b3482a2165bb4edbd8b87d21e:ec636b8830a4ea9535f02873d79f0537$</string>
            <key>textureFileName</key>
            <string>fishShadow019.png</string>
        </dict>
    </dict>
</plist>
