<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02421.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,348}</string>
                <key>spriteSourceSize</key>
                <string>{478,348}</string>
                <key>textureRect</key>
                <string>{{0,0},{478,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02422.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,348}</string>
                <key>spriteSourceSize</key>
                <string>{478,348}</string>
                <key>textureRect</key>
                <string>{{478,0},{478,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove024_2.png</string>
            <key>size</key>
            <string>{956,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0def7c2e0483f1a074c5d1ca825ebb:de9aa0484a1a7ce9753cad31f34e3c36:4060ac9b92f8881f075c71efdf632627$</string>
            <key>textureFileName</key>
            <string>fishMove024_2.png</string>
        </dict>
    </dict>
</plist>
