<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{480,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{560,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{640,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,54}</string>
                <key>textureRect</key>
                <string>{{720,0},{80,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove001.png</string>
            <key>size</key>
            <string>{800,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e067f735e082d3d4091a8d424258f83:2a630a63dcb227f19208a79c6b38002e:3ec41c6479aa07aab4cf26a358f879aa$</string>
            <key>textureFileName</key>
            <string>fishMove001.png</string>
        </dict>
    </dict>
</plist>
