<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{600,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{1200,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow027_1.png</string>
            <key>size</key>
            <string>{1800,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1cc8268a189b5d042f789a458baa8c:67ff191cb1b173cab5a6a8030ef037b2:1396452bf80e42ba78021c375a4d74a4$</string>
            <key>textureFileName</key>
            <string>fishShadow027_1.png</string>
        </dict>
    </dict>
</plist>
