<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,0},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01902 .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,0},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,0},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,0},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,313},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,313},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,313},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,313},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,626},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,626},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,626},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,626},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,939},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,939},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,939},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,939},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,1252},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,1252},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,1252},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,1252},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{0,1565},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{460,1565},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{920,1565},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01924.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,313}</string>
                <key>spriteSourceSize</key>
                <string>{460,313}</string>
                <key>textureRect</key>
                <string>{{1380,1565},{460,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove019.png</string>
            <key>size</key>
            <string>{1840,1878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c80e3cb8e77d505903a42a44ccb9133:14c141107467d39af5e89e3a77ca59a9:9ef5b6fdf8d518973fe6a5316c0163f3$</string>
            <key>textureFileName</key>
            <string>fishMove019.png</string>
        </dict>
    </dict>
</plist>
