<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02523.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,1180},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_4.png</string>
            <key>size</key>
            <string>{1926,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b321445ab67bf89760ade201182047d8:9cf55d09d9b1f7f8495f6e411f30af87:5e4457a12f1ea8e0433c3059c3f27583$</string>
            <key>textureFileName</key>
            <string>fishMove025_4.png</string>
        </dict>
    </dict>
</plist>
