<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,1180},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,1180},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow025_1.png</string>
            <key>size</key>
            <string>{1926,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1bd4260104528c24740e4bc981d5f3e:10c611a4cef7f86546d990f788f19055:78443be9c4c0a99dba6e0953851d9df6$</string>
            <key>textureFileName</key>
            <string>fishShadow025_1.png</string>
        </dict>
    </dict>
</plist>
