<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{352,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{704,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{1056,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{1408,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{352,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{704,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{1056,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{1408,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow018.png</string>
            <key>size</key>
            <string>{1760,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b10696e085634f1963cd2922b19c3e0:00c5301c5122c54e743154c386c1f385:1753e1f7412ba77174381168caf8b7db$</string>
            <key>textureFileName</key>
            <string>fishShadow018.png</string>
        </dict>
    </dict>
</plist>
