<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{636,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{742,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow007.png</string>
            <key>size</key>
            <string>{848,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a3ce7892989937fa314facde59526fd:ff1a15309d2e9747a882f71a557a5820:c34ec5a303f3cf8d813d7a63ed4dcc80$</string>
            <key>textureFileName</key>
            <string>fishShadow007.png</string>
        </dict>
    </dict>
</plist>
