<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,0},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,167},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,334},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,501},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,501},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,668},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,668},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,835},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,835},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,1002},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,1002},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,1169},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,1169},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{0,1336},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,167}</string>
                <key>spriteSourceSize</key>
                <string>{202,167}</string>
                <key>textureRect</key>
                <string>{{202,1336},{202,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni013.png</string>
            <key>size</key>
            <string>{404,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e86f8cd16a08fc0345c0138b8e7c589a:7e4ab00d2467b91442f437d126a2de63:46ffbd19334bd0239b74ca73f276c73f$</string>
            <key>textureFileName</key>
            <string>fishAni013.png</string>
        </dict>
    </dict>
</plist>
