<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,1412},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,1412},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow022.png</string>
            <key>size</key>
            <string>{1560,1765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10c07c3c11cd5e4889a8c806539b0fd8:943bd237871fdf057ad0477377cb8aa0:7cea407d91c0938ce70fab143d83f3df$</string>
            <key>textureFileName</key>
            <string>fishShadow022.png</string>
        </dict>
    </dict>
</plist>
