<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_3.png</string>
            <key>size</key>
            <string>{1926,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2bc871a00fce64d6fb17b10ff8bb718:4f8c036fbb8fe1bace76886f7829bab9:832f82a6d245696934c713a5be8174b1$</string>
            <key>textureFileName</key>
            <string>fishMove025_3.png</string>
        </dict>
    </dict>
</plist>
