<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow017.png</string>
            <key>size</key>
            <string>{402,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59998e4786ecd4f599db65a32cb011d:9e7ad45ec03cced01dbbd74c0d3c23b3:6437c4a81e035b4c6b09ef8b935df555$</string>
            <key>textureFileName</key>
            <string>fishShadow017.png</string>
        </dict>
    </dict>
</plist>
