<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{140,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{280,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{420,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{560,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{700,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{840,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{980,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{1120,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{1260,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove006.png</string>
            <key>size</key>
            <string>{1400,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e626c28e8221cbb8b408337f29e2685:3344c2b06a72a344f503449a5cb2db9f:2b31da0748e7060afdfba25d356a8dd8$</string>
            <key>textureFileName</key>
            <string>fishMove006.png</string>
        </dict>
    </dict>
</plist>
