<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,504},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,588},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,672},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,756},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,840},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,924},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove010.png</string>
            <key>size</key>
            <string>{123,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70756acaee917f20156678e0484082e0:b11a52a165b01569e79c3b6992ffd5f5:0ff04aa52dd18fd6e38d2af280f9bf00$</string>
            <key>textureFileName</key>
            <string>fishMove010.png</string>
        </dict>
    </dict>
</plist>
