<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{480,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{720,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{960,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1200,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1440,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1680,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove011.png</string>
            <key>size</key>
            <string>{1920,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7cd65e619548865ac894c2244f8d6fd:0e8abc678d544f856c1fbf0c32bd25c6:d9e9e9aa80c26f2da5d3b960ef901ecb$</string>
            <key>textureFileName</key>
            <string>fishMove011.png</string>
        </dict>
    </dict>
</plist>
