<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove004.png</string>
            <key>size</key>
            <string>{109,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b8e264658f3d5e0e294b208cba1ebfd:d9231f60619862be64802f5f3c252d66:11f2f145519d8fba2745d6ca41858fe2$</string>
            <key>textureFileName</key>
            <string>fishMove004.png</string>
        </dict>
    </dict>
</plist>
