<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,204},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,408},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,612},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,816},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,1020},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,1224},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,1428},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,1632},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,204}</string>
                <key>textureRect</key>
                <string>{{0,1836},{300,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove011.png</string>
            <key>size</key>
            <string>{300,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb3b7f0c47eef49ac9dbcf9a23c183d:41d2b35baf771a904fef5cff52126a51:d9e9e9aa80c26f2da5d3b960ef901ecb$</string>
            <key>textureFileName</key>
            <string>fishMove011.png</string>
        </dict>
    </dict>
</plist>
