<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow020.png</string>
            <key>size</key>
            <string>{1730,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7036632ce9cefc6936bd1c0d951f1ab:1af80e457dae7c628ef063f10d556a83:af9d0d35e895674b9c6abecab24571c6$</string>
            <key>textureFileName</key>
            <string>fishShadow020.png</string>
        </dict>
    </dict>
</plist>
