<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,0},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,650},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{0,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{650,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,650}</string>
                <key>spriteSourceSize</key>
                <string>{650,650}</string>
                <key>textureRect</key>
                <string>{{1300,1300},{650,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow024_2.png</string>
            <key>size</key>
            <string>{1950,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f1d685c6d182ef87ce4b9bdc306474:5744a2f51a92e17384d445d011decc02:f9cb562e4b175a69f5905fd1d7445200$</string>
            <key>textureFileName</key>
            <string>fishShadow024_2.png</string>
        </dict>
    </dict>
</plist>
