<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,0},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,353},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,706},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{1040,1059},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{0,1412},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,353}</string>
                <key>spriteSourceSize</key>
                <string>{520,353}</string>
                <key>textureRect</key>
                <string>{{520,1412},{520,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove022.png</string>
            <key>size</key>
            <string>{1560,1765}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d016b2f2793538c8dd4aad1a08e68cbc:db303ce05fbc87a080ac1e2104d2e232:8ddcc7a25d8c5bade2095bcd8073ee59$</string>
            <key>textureFileName</key>
            <string>fishMove022.png</string>
        </dict>
    </dict>
</plist>
