<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove027_2.png</string>
            <key>size</key>
            <string>{600,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f762a8f7f1dc7eb86bee2bb5fce873:31e1df75be59aaf0bccbd4cb0dc65822:15c133ceac783e268628928c82dc0dd0$</string>
            <key>textureFileName</key>
            <string>fishMove027_2.png</string>
        </dict>
    </dict>
</plist>
