<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,0},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,211},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,422},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,633},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,844},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,1055},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,1266},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,211}</string>
                <key>spriteSourceSize</key>
                <string>{445,211}</string>
                <key>textureRect</key>
                <string>{{0,1477},{445,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,112}</string>
                <key>spriteSourceSize</key>
                <string>{277,112}</string>
                <key>textureRect</key>
                <string>{{0,1688},{277,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni018.png</string>
            <key>size</key>
            <string>{445,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e76bf9a55708b8fd1cfa91f1fd20631e:add82e3c04d75764e38cd7eb7aa58cc9:8c63f67c8cdd19a13d95c467b4f8ac4e$</string>
            <key>textureFileName</key>
            <string>fishAni018.png</string>
        </dict>
    </dict>
</plist>
