<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{0,260},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{464,260},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{928,260},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,260}</string>
                <key>spriteSourceSize</key>
                <string>{464,260}</string>
                <key>textureRect</key>
                <string>{{1392,260},{464,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDead020.png</string>
            <key>size</key>
            <string>{1856,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6509f64942437627d5a1fbba59c40ee4:c4f8949fe3e6812549185e9b59cd1d05:1e3abe0fbdb5c9655d46adf4866eadf8$</string>
            <key>textureFileName</key>
            <string>fishDead020.png</string>
        </dict>
    </dict>
</plist>
