<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,97},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,194},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,291},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,388},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,485},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,582},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,679},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,776},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,873},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,970},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1067},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1164},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1261},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1358},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1455},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1552},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,97}</string>
                <key>spriteSourceSize</key>
                <string>{143,97}</string>
                <key>textureRect</key>
                <string>{{0,1649},{143,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove009.png</string>
            <key>size</key>
            <string>{143,1746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc04ed63e16896a9cf53c1092e9c37d:8f82eea0d95fb6efc53d669b1c7dee13:7df87da29d6977e011efa08e5f300cd2$</string>
            <key>textureFileName</key>
            <string>fishMove009.png</string>
        </dict>
    </dict>
</plist>
