<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,0},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,258},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,516},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,774},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,1032},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,1032},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{0,1290},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,258}</string>
                <key>spriteSourceSize</key>
                <string>{380,258}</string>
                <key>textureRect</key>
                <string>{{380,1290},{380,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove015.png</string>
            <key>size</key>
            <string>{760,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3455ac752c5be5022e2a423502074d8b:43f651966c7889cc505d5616da7e962d:d966549017bc5dce47adf9328476ade5$</string>
            <key>textureFileName</key>
            <string>fishMove015.png</string>
        </dict>
    </dict>
</plist>
