<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{0,0},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{432,0},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{864,0},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{1296,0},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{0,293},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{432,293},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{864,293},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{1296,293},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{0,586},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{432,586},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{864,586},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{1296,586},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{0,879},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{432,879},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{864,879},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{1296,879},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{0,1172},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,293}</string>
                <key>spriteSourceSize</key>
                <string>{432,293}</string>
                <key>textureRect</key>
                <string>{{432,1172},{432,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove020.png</string>
            <key>size</key>
            <string>{1728,1465}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f35f48bf34ac3d65bf91056c3d6d58:eea6992f07712451f181721f2f53ea58:2a9d3ba9dfa3eb2f5279e6434f0cbbc5$</string>
            <key>textureFileName</key>
            <string>fishMove020.png</string>
        </dict>
    </dict>
</plist>
