<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{636,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{106,72}</string>
                <key>textureRect</key>
                <string>{{742,0},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow003.png</string>
            <key>size</key>
            <string>{848,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3653a03afd4d34f2ff5b124e764a64d2:b79d3c6c57a76c29dc1ce703a384f600:337dc0374193ce26a1fea9c3cbc8131b$</string>
            <key>textureFileName</key>
            <string>fishShadow003.png</string>
        </dict>
    </dict>
</plist>
