<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow016.png</string>
            <key>size</key>
            <string>{2000,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:061470bb039aec4a287aa1ed97b474f8:514d654cc3c3d006cb39559f08188deb:d1acd3190830f134a9b7e77b6f3bc811$</string>
            <key>textureFileName</key>
            <string>fishShadow016.png</string>
        </dict>
    </dict>
</plist>
