<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove016.png</string>
            <key>size</key>
            <string>{1800,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1efe17c2c14ccb73a210ef54d22b5c51:afb0fb2f43ab3dccf3940a0eb40d40f3:959f1bf14c2d0e10acbfd4da9f9bc7bc$</string>
            <key>textureFileName</key>
            <string>fishMove016.png</string>
        </dict>
    </dict>
</plist>
