<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01914.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01915.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01916.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01917.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1104,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01920.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{1472,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01922.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{736,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove019.png</string>
            <key>size</key>
            <string>{1840,1255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84859c2ee086bbe59df610e06efd232:b3926046ecbd1894e39c6bc45b7f4baa:9ef5b6fdf8d518973fe6a5316c0163f3$</string>
            <key>textureFileName</key>
            <string>fishMove019.png</string>
        </dict>
    </dict>
</plist>
