<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow013.png</string>
            <key>size</key>
            <string>{490,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f86ccf88e8d45b5a984db8772c3020b0:124a4f384119db86a8bff99d7946d411:94601cf9eeb0c53b73ae7614b5a74bcf$</string>
            <key>textureFileName</key>
            <string>fishShadow013.png</string>
        </dict>
    </dict>
</plist>
