<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{1600,0},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{0,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{320,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{640,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{960,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{1280,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,218}</string>
                <key>spriteSourceSize</key>
                <string>{320,218}</string>
                <key>textureRect</key>
                <string>{{1600,218},{320,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove012.png</string>
            <key>size</key>
            <string>{1920,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b28f8ce8d57c911213dbc25e448c4d6d:17103c37d68c4d2f4d2dcec449be6693:ac2d99a414152dba49e7306ce0e02fbd$</string>
            <key>textureFileName</key>
            <string>fishMove012.png</string>
        </dict>
    </dict>
</plist>
