<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,164},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,328},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,492},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,656},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,820},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,984},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,1148},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,1312},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,164}</string>
                <key>spriteSourceSize</key>
                <string>{240,164}</string>
                <key>textureRect</key>
                <string>{{0,1476},{240,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow011.png</string>
            <key>size</key>
            <string>{240,1640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9385f8be8bde1f0d315a0b3426bf20ab:68deb959b6fda128e4e6542a79b36318:8315a4c77f647358d9dab52206d97832$</string>
            <key>textureFileName</key>
            <string>fishShadow011.png</string>
        </dict>
    </dict>
</plist>
