<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,196},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,294},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,392},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,490},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,588},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,686},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,784},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,882},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,980},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1078},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1176},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1274},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1372},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1470},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1568},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,1666},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove008.png</string>
            <key>size</key>
            <string>{144,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee16b473a6b9abba098a0475526a781:d3ba9b59b7eed2dba5917b4f5fd90841:b34331338cd75a2637b14f9c235ba0e6$</string>
            <key>textureFileName</key>
            <string>fishMove008.png</string>
        </dict>
    </dict>
</plist>
