<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow026_2.png</string>
            <key>size</key>
            <string>{1800,1671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33173afc4cdaa8118d408ddd61104e41:e147b416dae82306814ae2180cd3a236:ab67ff804fe65050804daec2ecb05716$</string>
            <key>textureFileName</key>
            <string>fishShadow026_2.png</string>
        </dict>
    </dict>
</plist>
