<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,165},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,330},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,495},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,660},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,825},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow015.png</string>
            <key>size</key>
            <string>{243,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aeb38c6f6bce0feae68f0d7b3473a94:320d73fb52f23a90205ac0b75fdc1786:9457b88b86f7f22332af614bd1aa6779$</string>
            <key>textureFileName</key>
            <string>fishShadow015.png</string>
        </dict>
    </dict>
</plist>
