<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,0},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,0},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,254},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,254},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,508},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,508},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,762},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,762},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,1016},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,1016},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,1270},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,1270},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove022.png</string>
            <key>size</key>
            <string>{748,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:731b6611abbe5c266512f8bbcadbd310:575aadd52877aca5f9ed4ce11e410bdb:8ddcc7a25d8c5bade2095bcd8073ee59$</string>
            <key>textureFileName</key>
            <string>fishMove022.png</string>
        </dict>
    </dict>
</plist>
