<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,68},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,68},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,136},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,136},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,204},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,204},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,272},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,272},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,340},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,340},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,408},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,408},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,476},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,476},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,544},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,544},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,612},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,612},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,680},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,680},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,748},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,748},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,816},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,816},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,884},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,884},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,952},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,952},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1020},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1020},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1088},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1088},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1156},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1156},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1224},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1224},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1292},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1292},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1360},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{106,1360},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{0,1428},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni005.png</string>
            <key>size</key>
            <string>{212,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:954f18ebc1c6e2b43060324b95ba5a7b:fda1170f0aa058489d7829dc1906e9fc:e090e55d010c43b559b1bbff02bd18b9$</string>
            <key>textureFileName</key>
            <string>fishAni005.png</string>
        </dict>
    </dict>
</plist>
