<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,0},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,0},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,254},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,254},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,508},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,508},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,762},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,762},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,1016},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,1016},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{0,1270},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,254}</string>
                <key>spriteSourceSize</key>
                <string>{374,254}</string>
                <key>textureRect</key>
                <string>{{374,1270},{374,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow022.png</string>
            <key>size</key>
            <string>{748,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12efa3a11c75623a7137d2a966452cf:dc6c2b0cc5977219f2ccd50998b93594:7cea407d91c0938ce70fab143d83f3df$</string>
            <key>textureFileName</key>
            <string>fishShadow022.png</string>
        </dict>
    </dict>
</plist>
