<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,0},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,185},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,370},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,555},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,740},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,925},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1110},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1295},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1480},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1665},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove013.png</string>
            <key>size</key>
            <string>{272,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba41688bbcbede3c06c7f11fe880726:e82d2cbd5e0935f7d78cb345a425bcd8:a343f21337ae7a46a1d854a78d704e07$</string>
            <key>textureFileName</key>
            <string>fishMove013.png</string>
        </dict>
    </dict>
</plist>
