<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,0},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,0},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,0},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,500},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,500},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,500},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,500},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,750},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,750},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,750},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,750},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,1000},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,1000},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,1000},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,1000},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{0,1250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{456,1250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{912,1250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,250}</string>
                <key>spriteSourceSize</key>
                <string>{456,250}</string>
                <key>textureRect</key>
                <string>{{1368,1250},{456,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow020.png</string>
            <key>size</key>
            <string>{1824,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad95576a625383c4f928ce9d8ff83365:cd89b473eee7a7ca0eeb1a8c83380fdb:af9d0d35e895674b9c6abecab24571c6$</string>
            <key>textureFileName</key>
            <string>fishShadow020.png</string>
        </dict>
    </dict>
</plist>
