<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,0},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,251},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,502},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,753},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{368,1004},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,251}</string>
                <key>spriteSourceSize</key>
                <string>{368,251}</string>
                <key>textureRect</key>
                <string>{{0,1255},{368,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow019.png</string>
            <key>size</key>
            <string>{736,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7bd1ef26efbe0a76695130c1728fa4d:6c36c36c07c5a20428543e31ad96e2c4:ec636b8830a4ea9535f02873d79f0537$</string>
            <key>textureFileName</key>
            <string>fishShadow019.png</string>
        </dict>
    </dict>
</plist>
