<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,163},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,326},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,489},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,652},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,815},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,978},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,1141},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,1304},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,1467},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove011.png</string>
            <key>size</key>
            <string>{240,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:746a8d484615eacb81b0856f9c372b0b:972e34f989fd1c7aec788121a387f301:d9e9e9aa80c26f2da5d3b960ef901ecb$</string>
            <key>textureFileName</key>
            <string>fishMove011.png</string>
        </dict>
    </dict>
</plist>
