<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove023_1.png</string>
            <key>size</key>
            <string>{1734,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f111f696f8551e98b594c3f80310d33b:e97d363d534f5597b0384b3f244b67d3:2218d2f50f6299ecb8b80a4b2e34b92a$</string>
            <key>textureFileName</key>
            <string>fishMove023_1.png</string>
        </dict>
    </dict>
</plist>
