<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow021.png</string>
            <key>size</key>
            <string>{1800,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45b9fb34e3829d13af1411920bc3facc:6465a0e42e1f30c42c3d83681ba55688:23c0b765f905039942e48e8af9c99a83$</string>
            <key>textureFileName</key>
            <string>fishShadow021.png</string>
        </dict>
    </dict>
</plist>
