<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02619.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02622.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02624.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow026_3.png</string>
            <key>size</key>
            <string>{1800,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f30e94db82a3c41067deb86915ca331:fe475b1d80af0b8c48cc2f0005fedc59:e7576bd83f28ec8f9ab1098cbe79ab7d$</string>
            <key>textureFileName</key>
            <string>fishShadow026_3.png</string>
        </dict>
    </dict>
</plist>
