<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{155,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{310,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{465,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{620,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{775,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{930,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1085,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1240,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1395,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1550,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1705,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1860,0},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01901.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{0,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01902.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{155,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01903.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{310,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01904.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{465,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01905.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{620,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01906.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{775,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01907.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{930,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1085,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01909.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1240,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1395,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01911.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1550,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1705,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01913.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,128}</string>
                <key>spriteSourceSize</key>
                <string>{155,128}</string>
                <key>textureRect</key>
                <string>{{1860,128},{155,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni019.png</string>
            <key>size</key>
            <string>{2015,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0366efe4e6de6f943483650f67d1f205:896718489a55106b43ef29d51f2d22b7:cdb23d92537919d8b4b9bf72dd81d521$</string>
            <key>textureFileName</key>
            <string>fishAni019.png</string>
        </dict>
    </dict>
</plist>
