<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{245,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove013.png</string>
            <key>size</key>
            <string>{490,1503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be57efa1f69e9167e3295588e15e2ce:2ce80d027194c8da8d6442732c7e8190:a343f21337ae7a46a1d854a78d704e07$</string>
            <key>textureFileName</key>
            <string>fishMove013.png</string>
        </dict>
    </dict>
</plist>
