<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,0},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,245},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1080,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{1440,490},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{0,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{360,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,245}</string>
                <key>spriteSourceSize</key>
                <string>{360,245}</string>
                <key>textureRect</key>
                <string>{{720,735},{360,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow016.png</string>
            <key>size</key>
            <string>{1800,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628eaab086461c4596c5c4a79648c945:08be667c28926b6440c0061b62065605:d1acd3190830f134a9b7e77b6f3bc811$</string>
            <key>textureFileName</key>
            <string>fishShadow016.png</string>
        </dict>
    </dict>
</plist>
