<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{0,0},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{360,0},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{720,0},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1080,0},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1440,0},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{0,246},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{360,246},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{720,246},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1080,246},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1440,246},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{0,492},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{360,492},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{720,492},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1080,492},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{1440,492},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{0,738},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{360,738},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,246}</string>
                <key>spriteSourceSize</key>
                <string>{360,246}</string>
                <key>textureRect</key>
                <string>{{720,738},{360,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove021.png</string>
            <key>size</key>
            <string>{1800,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48fd85b360e9e3db58ba55ef2e282fc8:4c3c3394f6212cca19d2118b491ad122:9d122656dcca350c52efcf4b626be905$</string>
            <key>textureFileName</key>
            <string>fishMove021.png</string>
        </dict>
    </dict>
</plist>
