<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{1024,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{1280,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{1536,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,174}</string>
                <key>textureRect</key>
                <string>{{1792,0},{256,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow012.png</string>
            <key>size</key>
            <string>{2048,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4286cb1b2e93e74d5d17bf95eb5c5a07:24c6ffc1c8be95d678a1052f13723284:b54fda6cf9c940c3cabdb16436d8d251$</string>
            <key>textureFileName</key>
            <string>fishShadow012.png</string>
        </dict>
    </dict>
</plist>
