<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{219,205}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,785},{219,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{222,785},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{205,199}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,584},{205,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{199,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,192},{199,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{201,189}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{205,197}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,385},{205,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{219,205}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{1,992},{219,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{222,992},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{205,199}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{208,584},{205,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{199,191}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{202,192},{199,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{201,189}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{204,1},{201,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{205,197}</string>
                <key>spriteSourceSize</key>
                <string>{283,259}</string>
                <key>textureRect</key>
                <string>{{208,385},{205,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni015.png</string>
            <key>size</key>
            <string>{428,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:888edc215301b001f280f6431eedc857:6c4c859a7b9cbc1dedaf78d76befa263:203c705bedaaab5c4350d835a1fc4fd0$</string>
            <key>textureFileName</key>
            <string>fishAni015.png</string>
        </dict>
    </dict>
</plist>
