<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove026_1.png</string>
            <key>size</key>
            <string>{1800,1671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2219bfd9c7c695384a83657802b3b6c4:9e788e0eb08f6094c1feee60ee36d1ce:827ce6f3aeff3c34ce09a646d7203f2c$</string>
            <key>textureFileName</key>
            <string>fishMove026_1.png</string>
        </dict>
    </dict>
</plist>
