<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{144,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{288,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{432,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{576,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{720,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{864,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{144,98}</string>
                <key>textureRect</key>
                <string>{{1008,0},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove005.png</string>
            <key>size</key>
            <string>{1152,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2405ecc1ece27e5607f84559842665ba:6b873971f578c44d50eb74f1741487c9:9b6173174e1506123b61e7bc33caf44a$</string>
            <key>textureFileName</key>
            <string>fishMove005.png</string>
        </dict>
    </dict>
</plist>
