<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,0},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,272},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1200,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{1600,544},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{0,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{400,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,272}</string>
                <key>spriteSourceSize</key>
                <string>{400,272}</string>
                <key>textureRect</key>
                <string>{{800,816},{400,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove016.png</string>
            <key>size</key>
            <string>{2000,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e5432a677b21651c435856d2f6f0317:47ed25e2c6e83d93f8f9a1dd5f97a4bf:959f1bf14c2d0e10acbfd4da9f9bc7bc$</string>
            <key>textureFileName</key>
            <string>fishMove016.png</string>
        </dict>
    </dict>
</plist>
