<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02619.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02621.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02622.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02624.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove026_3.png</string>
            <key>size</key>
            <string>{1800,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c2cc6ef7bf427b002f9d36c8f3036a9:42bb5d60f10989099e2047323b4735ee:02c32dcccfa451a8b387878039158737$</string>
            <key>textureFileName</key>
            <string>fishMove026_3.png</string>
        </dict>
    </dict>
</plist>
