<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02517.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02518.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_3.png</string>
            <key>size</key>
            <string>{1888,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfabfbab37a95d0fc812aa22f8c0ad4c:6f30e9bdb8ede505c304a2815160af18:832f82a6d245696934c713a5be8174b1$</string>
            <key>textureFileName</key>
            <string>fishMove025_3.png</string>
        </dict>
    </dict>
</plist>
