<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{0,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{323,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{646,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{969,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1292,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1615,0},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{0,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{323,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{646,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{969,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1292,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1615,382},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{0,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{323,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{646,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{969,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1292,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,382}</string>
                <key>spriteSourceSize</key>
                <string>{323,382}</string>
                <key>textureRect</key>
                <string>{{1615,764},{323,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni026.png</string>
            <key>size</key>
            <string>{1938,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70abb0db7cf8b6914ba540d496ea520c:8fc3ec18209493e19af0e602bbb42aa5:7d892b649ebc82c91a5a0550dde88e4f$</string>
            <key>textureFileName</key>
            <string>fishAni026.png</string>
        </dict>
    </dict>
</plist>
