<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove010.png</string>
            <key>size</key>
            <string>{840,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2660f8d6d077e5d70fc600164269b75e:fbcb7eecb6c9f8328d3379a29db9d461:0ff04aa52dd18fd6e38d2af280f9bf00$</string>
            <key>textureFileName</key>
            <string>fishMove010.png</string>
        </dict>
    </dict>
</plist>
