<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,86},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,172},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,258},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,344},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,430},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,516},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,602},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,688},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,774},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,860},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,946},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00813.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1032},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00814.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1118},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00815.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1204},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1290},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00817.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1376},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00818.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,1462},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove008.png</string>
            <key>size</key>
            <string>{125,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c6a7579fa788a6d38599175cf1c7fb:8f120d89e1d04c39175b36d96af265ca:b34331338cd75a2637b14f9c235ba0e6$</string>
            <key>textureFileName</key>
            <string>fishMove008.png</string>
        </dict>
    </dict>
</plist>
