<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,0},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,185},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,370},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,555},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,740},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,925},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1110},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1295},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1480},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,185}</string>
                <key>spriteSourceSize</key>
                <string>{272,185}</string>
                <key>textureRect</key>
                <string>{{0,1665},{272,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow013.png</string>
            <key>size</key>
            <string>{272,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3397da434be0d175c98d4f0f64e06819:eb197f07d69c3d3cbeb7fdc5000af588:94601cf9eeb0c53b73ae7614b5a74bcf$</string>
            <key>textureFileName</key>
            <string>fishShadow013.png</string>
        </dict>
    </dict>
</plist>
