<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{132,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{264,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{396,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{528,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{660,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{792,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{924,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{1056,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{1188,0},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow007.png</string>
            <key>size</key>
            <string>{1320,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5b90f851f83dc19625e8291efe7f530:6524b4faf5f4242dc655ccfaf92a8c6c:c34ec5a303f3cf8d813d7a63ed4dcc80$</string>
            <key>textureFileName</key>
            <string>fishShadow007.png</string>
        </dict>
    </dict>
</plist>
