<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{86,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{172,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{258,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{344,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{430,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove002.png</string>
            <key>size</key>
            <string>{516,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d05d17c08ae752fdbd2fc9cf7add556:2082c887609cc1c7f4492bca2ba7db45:893fe39d0ba72bb15190b6b3ad83a6c5$</string>
            <key>textureFileName</key>
            <string>fishMove002.png</string>
        </dict>
    </dict>
</plist>
