<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,167},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,334},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,501},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,668},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,835},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1002},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1169},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1336},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1503},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1670},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,167}</string>
                <key>spriteSourceSize</key>
                <string>{245,167}</string>
                <key>textureRect</key>
                <string>{{0,1837},{245,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow013.png</string>
            <key>size</key>
            <string>{245,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ec87910452c21973e55f2b50622a70:e73cb90a0f858f79176d8bde1b31b1bc:94601cf9eeb0c53b73ae7614b5a74bcf$</string>
            <key>textureFileName</key>
            <string>fishShadow013.png</string>
        </dict>
    </dict>
</plist>
