<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow024_1.png</string>
            <key>size</key>
            <string>{1896,1725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4f17696820436509c231b468b08b1e:4e69fa62da06530bb8915f79175e7273:e90e80bf50bed2bec51f7b7f44799308$</string>
            <key>textureFileName</key>
            <string>fishShadow024_1.png</string>
        </dict>
    </dict>
</plist>
