<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{86,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{172,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{258,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{344,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{430,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{516,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{602,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{688,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,59}</string>
                <key>textureRect</key>
                <string>{{774,0},{86,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow002.png</string>
            <key>size</key>
            <string>{860,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b435410a0ee5c0b2ebefc9b5689700bc:7b1eb6bd848a9c155a4616ec500db09f:b85b7b49e64958af9df23e3a3236f56a$</string>
            <key>textureFileName</key>
            <string>fishShadow002.png</string>
        </dict>
    </dict>
</plist>
