<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,198},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,396},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,594},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,792},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,990},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove017.png</string>
            <key>size</key>
            <string>{402,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff0e44bb62eea306313fc21139ab61cb:127b0aa2936698c606a42189d4788482:cf579053479ba55bc8647c372cf831d4$</string>
            <key>textureFileName</key>
            <string>fishMove017.png</string>
        </dict>
    </dict>
</plist>
