<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,504},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,588},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,672},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,756},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,840},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,84}</string>
                <key>spriteSourceSize</key>
                <string>{123,84}</string>
                <key>textureRect</key>
                <string>{{0,924},{123,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow010.png</string>
            <key>size</key>
            <string>{123,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3785d0ad823faae37c3db62289dfec9:d9a9a00080782ecadd0970b0b10d7d98:c654ed07e49ddd6106fa228c9e8234bb$</string>
            <key>textureFileName</key>
            <string>fishShadow010.png</string>
        </dict>
    </dict>
</plist>
