<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{0,422},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{500,422},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1000,422},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1500,422},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{0,844},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{500,844},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1000,844},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1500,844},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{0,1266},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{500,1266},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1000,1266},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,422}</string>
                <key>spriteSourceSize</key>
                <string>{500,422}</string>
                <key>textureRect</key>
                <string>{{1500,1266},{500,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow024_1.png</string>
            <key>size</key>
            <string>{2000,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ca984a2795c6de66c7dcb8aeda1035:0ed1fab816a265b6da54d28dfb969542:e90e80bf50bed2bec51f7b7f44799308$</string>
            <key>textureFileName</key>
            <string>fishShadow024_1.png</string>
        </dict>
    </dict>
</plist>
