<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02519.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02523.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,1180},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow025_4.png</string>
            <key>size</key>
            <string>{1926,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c6a05ae9eac3b541d0a122a465ad9e3:a862f6c8c4aa83c9195620c1939813b9:b0ec3c487e5d2127b6e3c3a5194adbd0$</string>
            <key>textureFileName</key>
            <string>fishShadow025_4.png</string>
        </dict>
    </dict>
</plist>
