<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,0},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,0},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,0},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,0},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,230},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,230},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,230},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,230},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,460},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,460},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,460},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,460},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,690},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,690},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,690},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,690},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,920},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,920},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,920},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,920},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{0,1150},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{456,1150},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{912,1150},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,230}</string>
                <key>spriteSourceSize</key>
                <string>{456,230}</string>
                <key>textureRect</key>
                <string>{{1368,1150},{456,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove020.png</string>
            <key>size</key>
            <string>{1824,1380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e7209a71dd22a84420158c3ad944f8e:b8588520c0504127761e51151303bb68:2a9d3ba9dfa3eb2f5279e6434f0cbbc5$</string>
            <key>textureFileName</key>
            <string>fishMove020.png</string>
        </dict>
    </dict>
</plist>
