<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,784},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,980},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1176},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1372},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,1568},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove014.png</string>
            <key>size</key>
            <string>{288,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:722ecb6482ed3c825ea7bb00dc8b5792:a7c128de6051910c6351c4f32daec300:bc6a0f1dcd9f43ea7dabbd97874b78bf$</string>
            <key>textureFileName</key>
            <string>fishMove014.png</string>
        </dict>
    </dict>
</plist>
