<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,436},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,872},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,436}</string>
                <key>spriteSourceSize</key>
                <string>{600,436}</string>
                <key>textureRect</key>
                <string>{{0,1308},{600,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow027_2.png</string>
            <key>size</key>
            <string>{600,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:511182a416c86357af34f4c9e0baae00:90426b5b5c0a5ce8fbd90c06383a2684:df4f7f051a905c368b796b3423c82964$</string>
            <key>textureFileName</key>
            <string>fishShadow027_2.png</string>
        </dict>
    </dict>
</plist>
