<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1600,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,136}</string>
                <key>textureRect</key>
                <string>{{1800,0},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove006.png</string>
            <key>size</key>
            <string>{2000,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0b67128a02568b01102948a950c586:ae86a9e2944ee2460170b0cea09e24f2:2b31da0748e7060afdfba25d356a8dd8$</string>
            <key>textureFileName</key>
            <string>fishMove006.png</string>
        </dict>
    </dict>
</plist>
