<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,0},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,234},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1038,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{1384,468},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{0,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{346,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,234}</string>
                <key>spriteSourceSize</key>
                <string>{346,234}</string>
                <key>textureRect</key>
                <string>{{692,702},{346,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove020.png</string>
            <key>size</key>
            <string>{1730,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb4240ba45319cae0cdc54471216fa5:838f7d3353e3cb610e51a161fa7122f7:2a9d3ba9dfa3eb2f5279e6434f0cbbc5$</string>
            <key>textureFileName</key>
            <string>fishMove020.png</string>
        </dict>
    </dict>
</plist>
