<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{134,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{268,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{402,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{536,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{670,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{804,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{938,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1072,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1206,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1340,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,198}</string>
                <key>spriteSourceSize</key>
                <string>{134,198}</string>
                <key>textureRect</key>
                <string>{{1474,0},{134,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove017.png</string>
            <key>size</key>
            <string>{1608,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67c0aa2149ef16f54d6894816f4fa8fd:96ec185a62b477c3e38f7aa28578b4ab:cf579053479ba55bc8647c372cf831d4$</string>
            <key>textureFileName</key>
            <string>fishMove017.png</string>
        </dict>
    </dict>
</plist>
