<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,444},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,518},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,592},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{108,74}</string>
                <key>textureRect</key>
                <string>{{0,666},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove002.png</string>
            <key>size</key>
            <string>{108,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002aadc32ccd64b5fc24dea02c083316:2726ec17ed33e72a76633d6849d80c2f:893fe39d0ba72bb15190b6b3ad83a6c5$</string>
            <key>textureFileName</key>
            <string>fishMove002.png</string>
        </dict>
    </dict>
</plist>
