<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,0},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,239},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,478},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,717},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,956},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,1195},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,1434},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,239}</string>
                <key>spriteSourceSize</key>
                <string>{352,239}</string>
                <key>textureRect</key>
                <string>{{0,1673},{352,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove018.png</string>
            <key>size</key>
            <string>{352,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49237beb29f88fefb12815ff8acd08dc:b1b9be50a095a5b555a5eddbca98667c:359648afa73eef2c2c327719a34a19f3$</string>
            <key>textureFileName</key>
            <string>fishMove018.png</string>
        </dict>
    </dict>
</plist>
