<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{221,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{442,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{663,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{884,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{1105,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{1326,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,107}</string>
                <key>spriteSourceSize</key>
                <string>{221,107}</string>
                <key>textureRect</key>
                <string>{{1547,0},{221,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni012.png</string>
            <key>size</key>
            <string>{1768,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec24b53d8b3a968b981aa22231170a8:f91d1cfa63a97aca6b6cbc77ff8a8c7c:d7974a6fa1f246da9eca28dc7f801ea0$</string>
            <key>textureFileName</key>
            <string>fishAni012.png</string>
        </dict>
    </dict>
</plist>
