<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{0,0},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{440,0},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{0,299},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{440,299},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{0,598},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{440,598},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{0,897},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{440,897},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{0,1196},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,299}</string>
                <key>spriteSourceSize</key>
                <string>{440,299}</string>
                <key>textureRect</key>
                <string>{{440,1196},{440,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove018.png</string>
            <key>size</key>
            <string>{880,1495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27e17239e7a58fc66a3811022e4aa892:4c5adb4241e8a84b6d8ac8707d790e77:359648afa73eef2c2c327719a34a19f3$</string>
            <key>textureFileName</key>
            <string>fishMove018.png</string>
        </dict>
    </dict>
</plist>
