<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,0},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,345},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,690},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02416.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,1035},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02417.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{0,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02418.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{474,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02419.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{948,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,345}</string>
                <key>spriteSourceSize</key>
                <string>{474,345}</string>
                <key>textureRect</key>
                <string>{{1422,1380},{474,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove024_1.png</string>
            <key>size</key>
            <string>{1896,1725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c31e2cc60c62d8e3284a2ff1185c3b52:22fcdc5758a203ecc471fa55c66da48e:dfac73c9066893c680ff3b22c1292e9c$</string>
            <key>textureFileName</key>
            <string>fishMove024_1.png</string>
        </dict>
    </dict>
</plist>
