<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02522.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,284}</string>
                <key>spriteSourceSize</key>
                <string>{580,284}</string>
                <key>textureRect</key>
                <string>{{0,0},{580,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02523.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,284}</string>
                <key>spriteSourceSize</key>
                <string>{580,284}</string>
                <key>textureRect</key>
                <string>{{580,0},{580,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_2.png</string>
            <key>size</key>
            <string>{1160,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002d831df68ef6dae4d50ff163a34be6:9a957283b953040d2e3398ae86e243ed:f5d29e6b212d6905bd4b65245963c9bf$</string>
            <key>textureFileName</key>
            <string>fishMove025_2.png</string>
        </dict>
    </dict>
</plist>
