<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,0},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,354},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,708},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,1062},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{0,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{578,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,354}</string>
                <key>spriteSourceSize</key>
                <string>{578,354}</string>
                <key>textureRect</key>
                <string>{{1156,1416},{578,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow023_1.png</string>
            <key>size</key>
            <string>{1734,1770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09803b09bde76fc3e87675586d3bf8bd:d3804c04c5227b874da19fb8b9868a6f:5f56acaa5c67c095866ad6206a8b1791$</string>
            <key>textureFileName</key>
            <string>fishShadow023_1.png</string>
        </dict>
    </dict>
</plist>
