<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,0},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,190},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,380},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{0,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{280,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,190}</string>
                <key>spriteSourceSize</key>
                <string>{280,190}</string>
                <key>textureRect</key>
                <string>{{560,570},{280,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow010.png</string>
            <key>size</key>
            <string>{840,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70da20ae3ec5ab78e513c05952ae0001:208543aff5d7fb6752bc148abebac5cd:c654ed07e49ddd6106fa228c9e8234bb$</string>
            <key>textureFileName</key>
            <string>fishShadow010.png</string>
        </dict>
    </dict>
</plist>
