<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{0,0},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{468,0},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{936,0},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1404,0},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{0,318},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{468,318},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{936,318},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1404,318},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{0,636},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{468,636},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{936,636},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1404,636},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{0,954},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{468,954},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{936,954},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02216.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{1404,954},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{0,1272},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,318}</string>
                <key>spriteSourceSize</key>
                <string>{468,318}</string>
                <key>textureRect</key>
                <string>{{468,1272},{468,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove022.png</string>
            <key>size</key>
            <string>{1872,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c0a31c2bbf6086a0923b706787f65e7:872548b172328e593df80fa3c2bba3d9:8ddcc7a25d8c5bade2095bcd8073ee59$</string>
            <key>textureFileName</key>
            <string>fishMove022.png</string>
        </dict>
    </dict>
</plist>
