<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDieShadow02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDieShadow02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDieShadow020.png</string>
            <key>size</key>
            <string>{1920,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92314b68a178576f40e13acd64e27cd4:268af87b50f3e4a125c6c5a458da9524:b1764519a7f4a53d3d72ee1378a4071c$</string>
            <key>textureFileName</key>
            <string>fishDieShadow020.png</string>
        </dict>
    </dict>
</plist>
