<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,300},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,600},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,600},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,600},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,900},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,900},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,900},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,1200},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,1200},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,1200},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{480,1500},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{960,1500},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,300}</string>
                <key>spriteSourceSize</key>
                <string>{480,300}</string>
                <key>textureRect</key>
                <string>{{1440,1500},{480,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow020.png</string>
            <key>size</key>
            <string>{1920,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4cf733d9ab445d7475059e9ec125541:0b19e5c0c7d13346ccb5bfb50b96baee:af9d0d35e895674b9c6abecab24571c6$</string>
            <key>textureFileName</key>
            <string>fishShadow020.png</string>
        </dict>
    </dict>
</plist>
