<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishDead01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,900},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1080},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishDead01508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,180}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{0,1260},{380,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishDead015.png</string>
            <key>size</key>
            <string>{380,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f4ce08b57810e9752550c71738aea63:cf2906ade48c30e58a6ba8f441b5d047:0f21f7be1ef10043764a8283d1b8e8bd$</string>
            <key>textureFileName</key>
            <string>fishDead015.png</string>
        </dict>
    </dict>
</plist>
