<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,74},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,148},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,222},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,296},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,74}</string>
                <key>spriteSourceSize</key>
                <string>{109,74}</string>
                <key>textureRect</key>
                <string>{{0,370},{109,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow004.png</string>
            <key>size</key>
            <string>{109,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4329749089ff2d4a53c369400f0c717f:aacf9c749c1f03e70ac776ff3929c971:d5102e39f03b5ecccdd74a8c8aaf013d$</string>
            <key>textureFileName</key>
            <string>fishShadow004.png</string>
        </dict>
    </dict>
</plist>
