<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow00101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{500,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{600,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{700,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{800,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{900,0},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow001.png</string>
            <key>size</key>
            <string>{1000,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64ac242df07d0ba99e8d1b3d7deb60c:1b82953168186770ea52d80b983a668f:ace5ae3aaeec0d09669754e029989ef6$</string>
            <key>textureFileName</key>
            <string>fishShadow001.png</string>
        </dict>
    </dict>
</plist>
