<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,0},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,579},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{0,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,579}</string>
                <key>spriteSourceSize</key>
                <string>{944,579}</string>
                <key>textureRect</key>
                <string>{{944,1158},{944,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove025_1.png</string>
            <key>size</key>
            <string>{1888,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af321f08fa46f95f6183f11da6105c5b:aa6f5fb7bb585e238f4277b0e84d4526:d535aabe5762bc5b5a169995471ba737$</string>
            <key>textureFileName</key>
            <string>fishMove025_1.png</string>
        </dict>
    </dict>
</plist>
