<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,165},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,330},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,495},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,660},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,825},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove015.png</string>
            <key>size</key>
            <string>{243,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:505a72556de13e2d9038ea957b4fbd6b:29c7b34eff4ffafd9c29b7f6d5947e3f:d966549017bc5dce47adf9328476ade5$</string>
            <key>textureFileName</key>
            <string>fishMove015.png</string>
        </dict>
    </dict>
</plist>
