<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,0},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,164},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,328},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,492},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,656},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,164}</string>
                <key>spriteSourceSize</key>
                <string>{348,164}</string>
                <key>textureRect</key>
                <string>{{0,820},{348,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,130}</string>
                <key>spriteSourceSize</key>
                <string>{337,130}</string>
                <key>textureRect</key>
                <string>{{0,984},{337,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni020.png</string>
            <key>size</key>
            <string>{348,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55dc2c3fd70a120bbac0b5162e55ab8:80a0e79ece0d8c8a7ab1b048c12f5975:f69a4df307fc068a86a9b29c4f6bfec7$</string>
            <key>textureFileName</key>
            <string>fishAni020.png</string>
        </dict>
    </dict>
</plist>
