<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00801.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{125,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00803.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{250,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00804.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{375,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00805.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{500,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00806.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{625,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00807.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{750,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00808.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{875,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00809.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1000,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00810.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1125,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00811.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1250,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00812.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,86}</string>
                <key>spriteSourceSize</key>
                <string>{125,86}</string>
                <key>textureRect</key>
                <string>{{1375,0},{125,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove008.png</string>
            <key>size</key>
            <string>{1500,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf7cdfcbef7248229211e96e9f3d512:d9e01d4c14287196fa8c7375d4e242ba:b34331338cd75a2637b14f9c235ba0e6$</string>
            <key>textureFileName</key>
            <string>fishMove008.png</string>
        </dict>
    </dict>
</plist>
