<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02513.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02514.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,0},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02515.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{0,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02516.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,590}</string>
                <key>spriteSourceSize</key>
                <string>{963,590}</string>
                <key>textureRect</key>
                <string>{{963,590},{963,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow025_3.png</string>
            <key>size</key>
            <string>{1926,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:037e5d0733609a0c15fdbfd3c1eb54a5:41ec038c4b78609b4614d2931d9e6d71:0135868f6f559b295f47bd9ec3f2cab6$</string>
            <key>textureFileName</key>
            <string>fishShadow025_3.png</string>
        </dict>
    </dict>
</plist>
