<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove016.png</string>
            <key>size</key>
            <string>{864,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:530b5e90dfb4f07c8a1b6a4710003c71:3f691a76252545ca9e9287f9ebe30c50:959f1bf14c2d0e10acbfd4da9f9bc7bc$</string>
            <key>textureFileName</key>
            <string>fishMove016.png</string>
        </dict>
    </dict>
</plist>
