<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,0},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,152},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,304},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,304},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,304},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,456},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,456},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{592,456},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{0,608},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,152}</string>
                <key>spriteSourceSize</key>
                <string>{296,152}</string>
                <key>textureRect</key>
                <string>{{296,608},{296,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni016.png</string>
            <key>size</key>
            <string>{888,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6845027b191be349a24673ee24954455:7f5e97d20db8a69e54f5f4f7cacceb96:bf8f1a0c1a2baf05c3d869be8cfc8ca4$</string>
            <key>textureFileName</key>
            <string>fishAni016.png</string>
        </dict>
    </dict>
</plist>
