<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01701.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01702.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01703.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01704.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01705.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01706.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,247},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01707.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01708.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01709.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,494},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01710.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01711.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01712.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,741},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01713.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01714.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01715.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,988},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01716.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{0,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{168,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,247}</string>
                <key>spriteSourceSize</key>
                <string>{168,247}</string>
                <key>textureRect</key>
                <string>{{336,1235},{168,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove017.png</string>
            <key>size</key>
            <string>{504,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e5f58d562c2f42007d837b1a0cc65e0:5d1ff37e7abda0f74cd70a1d79b0a3ac:cf579053479ba55bc8647c372cf831d4$</string>
            <key>textureFileName</key>
            <string>fishMove017.png</string>
        </dict>
    </dict>
</plist>
