<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,0},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,196},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,392},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,588},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,784},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,784},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,784},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01616.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{0,980},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01617.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{288,980},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01618.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,196}</string>
                <key>spriteSourceSize</key>
                <string>{288,196}</string>
                <key>textureRect</key>
                <string>{{576,980},{288,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow016.png</string>
            <key>size</key>
            <string>{864,1176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f8dd0beb3689b75ce6d5eed175bcd3:1ff3c0f7db669f0b28f214db85d7c21c:d1acd3190830f134a9b7e77b6f3bc811$</string>
            <key>textureFileName</key>
            <string>fishShadow016.png</string>
        </dict>
    </dict>
</plist>
