<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{480,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{720,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{960,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1200,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1440,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,163}</string>
                <key>spriteSourceSize</key>
                <string>{240,163}</string>
                <key>textureRect</key>
                <string>{{1680,0},{240,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow011.png</string>
            <key>size</key>
            <string>{1920,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d20684ba2c0433c02d713b7e6520233:356e9993ee2d09450ec79636a88a76b0:8315a4c77f647358d9dab52206d97832$</string>
            <key>textureFileName</key>
            <string>fishShadow011.png</string>
        </dict>
    </dict>
</plist>
