<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishShadow02601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,557},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{0,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{600,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,557}</string>
                <key>spriteSourceSize</key>
                <string>{600,557}</string>
                <key>textureRect</key>
                <string>{{1200,1114},{600,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishShadow026_1.png</string>
            <key>size</key>
            <string>{1800,1671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db7b35700a3a2b2108496000be914dbe:b1c341feb6230a9b575919e88eb974ab:d509d724ddc92cd97ab7978d93f09364$</string>
            <key>textureFileName</key>
            <string>fishShadow026_1.png</string>
        </dict>
    </dict>
</plist>
