<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,0},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,165},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,330},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,495},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,660},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,825},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,990},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,1155},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,1320},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,1485},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01511.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,1650},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,165}</string>
                <key>spriteSourceSize</key>
                <string>{243,165}</string>
                <key>textureRect</key>
                <string>{{0,1815},{243,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishMove015.png</string>
            <key>size</key>
            <string>{243,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dfaa9329dbb7eb6bf692a561e390b12:42bf4ebe615fa1856939cdb6cf806ac5:d966549017bc5dce47adf9328476ade5$</string>
            <key>textureFileName</key>
            <string>fishMove015.png</string>
        </dict>
    </dict>
</plist>
