<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinJump01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{1,252},{93,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinJump02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{1,181},{69,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinJump03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{1,34},{37,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinJump04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{31,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinJump05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{1,73},{40,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinJump06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{1,115},{64,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coinJump.png</string>
            <key>size</key>
            <string>{95,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b63f366247d4a7ae779db06e19b9dde:ab34428c48263ba1bef37b5a35d595fe:25b841ffdb32bdb7ab4be50217b4c31f$</string>
            <key>textureFileName</key>
            <string>coinJump.png</string>
        </dict>
    </dict>
</plist>
