<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongzidan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongzidan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongzidan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongzidan04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongzidan05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongzidan06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{80,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hongzidan.png</string>
            <key>size</key>
            <string>{80,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e14af525c4c4fb127f20a50373dc2db:e7f96ca3343d976a1c765b260064dfcc:56dda1fd16e4542c3acc30f30c90211d$</string>
            <key>textureFileName</key>
            <string>hongzidan.png</string>
        </dict>
    </dict>
</plist>
