<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hongsehuoyan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongsehuoyan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongsehuoyan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongsehuoyan04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongsehuoyan05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongsehuoyan06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hongsehuoyan.png</string>
            <key>size</key>
            <string>{480,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343a82b73be4250be3192896f1613527:dea23993d5ecd3de3fdb9d5453696ddd:ef714a764ba8e905c149d4de92093715$</string>
            <key>textureFileName</key>
            <string>hongsehuoyan.png</string>
        </dict>
    </dict>
</plist>
