<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lansehuoyan01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansehuoyan02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansehuoyan03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansehuoyan04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansehuoyan05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lansehuoyan06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{400,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lansehuoyan.png</string>
            <key>size</key>
            <string>{480,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8b37f1a32a276c4ce7957a275823c93:c5acc149025938c5cc7e7534eac36ddc:241691db53b5af995c9cb7ee33c7cf97$</string>
            <key>textureFileName</key>
            <string>lansehuoyan.png</string>
        </dict>
    </dict>
</plist>
