<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longwangbz01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{154,0},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{308,0},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{0,160},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{154,160},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{308,160},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{0,320},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>longwangbz08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{154,320},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>longwangbz.png</string>
            <key>size</key>
            <string>{462,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92702dee1e196bf065621a6906794f80:d2bb4c3d23e55dd1c200d621f521f6ee:51d1023530c38bf138ddddfd35ab3edf$</string>
            <key>textureFileName</key>
            <string>longwangbz.png</string>
        </dict>
    </dict>
</plist>
