<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yingbi01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{93,0},{69,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{162,0},{37,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{199,0},{37,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,90}</string>
                <key>textureRect</key>
                <string>{{236,0},{40,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{276,0},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yingbi.png</string>
            <key>size</key>
            <string>{340,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b565e2f98e1f8950d4ea21676ee73017:ebf40ef35be7b49a6c60bad7f1ca9847:cef7ad8f0cbf166770d75a286d0f4480$</string>
            <key>textureFileName</key>
            <string>yingbi.png</string>
        </dict>
    </dict>
</plist>
