<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>erjipaotai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{460,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{690,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{920,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1150,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1380,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1610,0},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{0,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{230,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{460,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{690,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{920,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1150,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1380,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1610,159},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{0,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{230,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{460,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{690,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{920,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1150,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1380,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>erjipaotai24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,159}</string>
                <key>spriteSourceSize</key>
                <string>{230,159}</string>
                <key>textureRect</key>
                <string>{{1610,318},{230,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>erjipaotai.png</string>
            <key>size</key>
            <string>{1840,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a8cf920c2ee094adff4d0bf92b727b8:3d5c94b76438fa4fb67fdb59e7cdaaad:391e422a5e46c6c67d91465ba2ef2b87$</string>
            <key>textureFileName</key>
            <string>erjipaotai.png</string>
        </dict>
    </dict>
</plist>
