<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanjipaotai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,0},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,0},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,154},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,154},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,308},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,308},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,462},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,462},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,616},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,616},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,770},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,770},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,924},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,924},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,1078},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,1078},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,1232},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,1232},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,1386},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,1386},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,1540},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,1540},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{0,1694},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sanjipaotai24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,154}</string>
                <key>spriteSourceSize</key>
                <string>{209,154}</string>
                <key>textureRect</key>
                <string>{{209,1694},{209,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sanjipaotai.png</string>
            <key>size</key>
            <string>{418,1848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa449a60781f5a1632241a71d8e408c1:a8381c2cdb578b5a7281de36d05b1601:b469e29356d4c348a286e1639228ec40$</string>
            <key>textureFileName</key>
            <string>sanjipaotai.png</string>
        </dict>
    </dict>
</plist>
