<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sijipaotai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{235,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{470,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{705,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{940,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1175,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1410,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1645,0},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{0,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{235,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{470,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{705,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{940,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1175,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1410,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1645,139},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{0,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{235,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{470,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{705,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{940,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1175,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1410,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sijipaotai24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,139}</string>
                <key>spriteSourceSize</key>
                <string>{235,139}</string>
                <key>textureRect</key>
                <string>{{1645,278},{235,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sijipaotai.png</string>
            <key>size</key>
            <string>{1880,417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7469d825229abd935a5c49659d6400:4ffff39af00d7433db7d8d2d1d916ef8:1a58d18bc9e04735cf9a3ba874f55a30$</string>
            <key>textureFileName</key>
            <string>sijipaotai.png</string>
        </dict>
    </dict>
</plist>
