<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wujipaotai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{0,0},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{196,0},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{392,0},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{588,0},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{784,0},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{0,184},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{196,184},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{392,184},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{588,184},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{784,184},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{0,368},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{196,368},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{392,368},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{588,368},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{784,368},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{0,552},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{196,552},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{392,552},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{588,552},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{784,552},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{0,736},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{196,736},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{392,736},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wujipaotai24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,184}</string>
                <key>spriteSourceSize</key>
                <string>{196,184}</string>
                <key>textureRect</key>
                <string>{{588,736},{196,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wujipaotai.png</string>
            <key>size</key>
            <string>{980,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f26803961710e33a30da9bbb10cd2c:2df2c06bf143bd4199b7556fb8205f1d:022ac7e48515642df9658f2c7fe5e782$</string>
            <key>textureFileName</key>
            <string>wujipaotai.png</string>
        </dict>
    </dict>
</plist>
