<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yijipaotai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,151},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,302},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,302},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,453},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,453},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,604},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,604},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,755},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,755},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,906},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,906},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,1057},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,1057},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,1208},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,1208},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,1359},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,1359},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,1510},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,1510},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{0,1661},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yijipaotai24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,151}</string>
                <key>spriteSourceSize</key>
                <string>{180,151}</string>
                <key>textureRect</key>
                <string>{{180,1661},{180,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yijipaotai.png</string>
            <key>size</key>
            <string>{360,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:089140d7487ee5138d4f92418e6f36ae:a96018f2eb504c6632d6622877a29d30:ff7c0af848195bb060030bf7c6ab05e8$</string>
            <key>textureFileName</key>
            <string>yijipaotai.png</string>
        </dict>
    </dict>
</plist>
