<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fashe.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gm.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>closeeye.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Effectsgpng.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>206</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>spark_0001.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>spark_0002.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>655</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>spark_0003.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>784</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>spark_0004.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>913</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>duck.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>1042</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0014.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1187</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0001.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0002.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0003.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0004.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0005.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0006.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>1203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0007.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>behindsh_0008.png</key>
			<dict>
				<key>width</key>
				<integer>682</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>682</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>1604</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zyllbanner0.png</string>
			<key>realTextureFileName</key>
			<string>zyllbanner0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>