<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{67,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{134,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{201,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{268,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{335,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{402,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{469,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{536,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{603,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{670,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{737,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{804,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{871,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{938,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1005,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1072,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1139,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1206,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1273,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1340,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1407,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1474,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1541,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1608,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1675,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1742,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1809,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1876,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1943,0},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni003.png</string>
            <key>size</key>
            <string>{2010,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a8dad534e55bc75cbf2ec535f89af4:ec5cb47386b8133c855ed9c77ac4303f:6c2736775b063318bf26be0d8cd55627$</string>
            <key>textureFileName</key>
            <string>fishAni003.png</string>
        </dict>
    </dict>
</plist>
