<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{0,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{305,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{610,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{915,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1220,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1525,0},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{0,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{305,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{610,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{915,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1220,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1525,293},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02504.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{0,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{305,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{610,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02507.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{915,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02508.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1220,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,293}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{1525,586},{305,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni025.png</string>
            <key>size</key>
            <string>{1830,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e42b09c7c98c5e1941c3e5b84acd07f:2c5942cb6b1ea2cd6d76864d0dacac2f:d8951f3aebea2508263e3ad131c8df80$</string>
            <key>textureFileName</key>
            <string>fishAni025.png</string>
        </dict>
    </dict>
</plist>
