<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{0,0},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{345,0},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{690,0},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1035,0},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1380,0},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{0,366},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{345,366},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{690,366},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1035,366},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1380,366},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{0,732},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{345,732},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{690,732},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1035,732},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1380,732},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{0,1098},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{345,1098},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{690,1098},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1035,1098},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1380,1098},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{0,1464},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{345,1464},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{690,1464},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,366}</string>
                <key>spriteSourceSize</key>
                <string>{345,366}</string>
                <key>textureRect</key>
                <string>{{1035,1464},{345,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni023.png</string>
            <key>size</key>
            <string>{1725,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6b4c786d271febe9ac1fd2692246920:701d516cb7d071f6e0ce97f91fe3b44c:68ec2c12efb9a35af0cd6fccde39552c$</string>
            <key>textureFileName</key>
            <string>fishAni023.png</string>
        </dict>
    </dict>
</plist>
