<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{202,190}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,889},{202,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{224,176}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,211},{224,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{224,208}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,541},{220,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{218,150}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,737},{218,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{222,150}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{1,389},{222,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{202,190}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{205,889},{202,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{224,176}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{227,211},{224,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{224,208}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,16}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{223,541},{220,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{218,150}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{221,737},{218,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow02206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{222,150}</string>
                <key>spriteSourceSize</key>
                <string>{228,248}</string>
                <key>textureRect</key>
                <string>{{225,389},{222,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni022.png</string>
            <key>size</key>
            <string>{452,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acdddd919e98931b2d39482299d75cf2:4550f0edf46946e08239859ab83e914e:bb748c2bbef6da702555e1671f3fd595$</string>
            <key>textureFileName</key>
            <string>fishAni022.png</string>
        </dict>
    </dict>
</plist>
