<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,0},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,0},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,93},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,93},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,93},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,186},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,186},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,186},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,279},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,279},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,279},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,372},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,372},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,372},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove01116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,465},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,465},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,465},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,558},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,558},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,558},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,651},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,651},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,651},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,744},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,744},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,744},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,837},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,837},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{292,837},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{0,930},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow01116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,93}</string>
                <key>spriteSourceSize</key>
                <string>{146,93}</string>
                <key>textureRect</key>
                <string>{{146,930},{146,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni011.png</string>
            <key>size</key>
            <string>{438,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73a2a945612b9135d6cf2bccecbc7b0f:d4cba6aa115defd938d862ebbaf23296:b5788b24874b054a8ec79a5ba9f57c06$</string>
            <key>textureFileName</key>
            <string>fishAni011.png</string>
        </dict>
    </dict>
</plist>
