<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fishMove00601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,68},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,136},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,204},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,272},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,340},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,408},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,476},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,544},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,612},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,680},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,748},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishMove00613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,816},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,884},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00602.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,952},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00603.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1020},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00604.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1088},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00605.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1156},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00606.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1224},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00607.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1292},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00608.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1360},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00609.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1428},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1496},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00611.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1564},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00612.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1632},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00613.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1700},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1768},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fishShadow00615.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{0,1836},{120,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fishAni006.png</string>
            <key>size</key>
            <string>{120,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a12136ff87f8cbd6798ddef4f5dc5c:6e79a6ebf2cf2a2ca346b519b67ce62b:16caf7cf7aa1a90e6f653afdf5199ae4$</string>
            <key>textureFileName</key>
            <string>fishAni006.png</string>
        </dict>
    </dict>
</plist>
