<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{436,456}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{436,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,457},{432,428}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,19},{432,428}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,457},{354,352}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{354,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{352,346}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,89},{352,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,345},{344,342}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,93},{344,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,0},{344,342}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,96},{344,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{346,338}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,92},{346,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,353},{346,344}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,92},{346,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,0},{340,328}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,98},{340,328}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,700},{306,304}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,109},{306,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,700},{296,296}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,112},{296,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>boom_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,0},{252,226}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,146},{252,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:516efe9fe55ccbbc7a23c66351227b23$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
