<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>djks_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{339,344}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{339,344}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{339,344}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{339,344}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{339,344}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{339,344}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,345},{337,342}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{337,342}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,686},{331,338}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{331,338}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,688},{327,332}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{327,332}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,331},{325,330}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{325,330}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,0},{325,330}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{325,330}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,0},{327,330}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{327,330}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{329,334}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{329,334}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,690},{333,338}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,33},{333,338}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
            <key>djks_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,345},{337,340}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{337,340}}</string>
                <key>sourceSize</key>
                <string>{407,408}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startbutton.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80fd70de4e9ca60d6489523fc76cbf6c$</string>
            <key>textureFileName</key>
            <string>startbutton.png</string>
        </dict>
    </dict>
</plist>
